<div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:30px;--mb-mobile:0px;--mb-tablet:0px;--pb-tablet:30px" class="gcN09E9pfJ ">
      
    <gp-accordion
      class="flex w-full flex-col "
      style="--rg:15px"
      gp-data='{"setting":{"expanded":true,"expandItem":false,"activeKey":1,"isIconPlus":false,"iconPosition":"right"},"styles":{"bgColor":{"normal":"#D9F2F5"},"color":{"normal":"#121212"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"itemBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0px","color":"#121212","isCustom":true,"position":"all","width":"0px 0px 0px 0px"}},"itemRounded":{"active":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"},"hover":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"},"normal":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"}},"width":{"desktop":"60%","mobile":"95%","tablet":"75%"},"fullWidth":{"desktop":false},"textColor":{"normal":"#121212"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"32px","vertical":"5px"},"mobile":{"horizontal":"28px","vertical":"5px"},"tablet":{"horizontal":"32px","vertical":"5px"}}}},"uid":"gcN09E9pfJ"}'
    >
    <div
                class="flex"
                style="--jc:center"
              >
                
    <div
      data-index="0"
      style="--w:60%;--w-tablet:75%;--w-mobile:95%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px"
      class="gcN09E9pfJ gp-accordion-item overflow-hidden"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="gcN09E9pfJ flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:5px;--pb:5px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:5px;--pb-tablet:5px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:5px;--pb-mobile:5px;--fd:row-reverse;--jc:space-between;--bgc:#D9F2F5;--c:#121212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#121212"
            data-index="0"
            class="gcN09E9pfJ gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><div style="rotate: 180deg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></div></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Inter, Inter);--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:15px;--weight:bold;word-break:break-word"
        >
        <p>The Coffee</p>
        </span>
      </div>
    </div>
      </div>
      <div
        uid="gutJ8GKGza"
        data-index="0"
        class="gcN09E9pfJ gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gqeEEwe4Gb relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNJSTyPUJT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:var(undefined);--mt-tablet:0px;--mb-tablet:var(undefined);--pt-tablet:0px;--pl-tablet:var(--g-s-2xl);--pb-tablet:0px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNJSTyPUJT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gto-3puBo7 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8dCFvJmZw "
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pt:var(--g-s-l);--mb-mobile:var(undefined);--pt-mobile:0px;--pb-mobile:5px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--ff:var(--g-font-Inter, Inter);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;--pt-mobile:10px;--pb-mobile:10px"
        >
        <p>Long Run Coffee needs to be made with specific coffee beans that, because of their premium quality, are likely to retain their caffeine compounds.</p><p>&nbsp;</p><p>This is important for the mental and physical effects that LRC has on your training.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
    <div
      data-index="1"
      style="--w:60%;--w-tablet:75%;--w-mobile:95%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px"
      class="gcN09E9pfJ gp-accordion-item overflow-hidden"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="gcN09E9pfJ flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:5px;--pb:5px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:5px;--pb-tablet:5px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:5px;--pb-mobile:5px;--fd:row-reverse;--jc:space-between;--bgc:#D9F2F5;--c:#121212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#121212"
            data-index="1"
            class="gcN09E9pfJ gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><div style="rotate: 180deg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></div></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Inter, Inter);--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:15px;--weight:bold;word-break:break-word"
        >
        <p>The Electrolytes</p>
        </span>
      </div>
    </div>
      </div>
      <div
        uid="gHlJUdNSzq"
        data-index="1"
        class="gcN09E9pfJ gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gMogs8kvsz relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcYPoOEpn4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:var(undefined);--mt-tablet:0px;--mb-tablet:var(undefined);--pt-tablet:0px;--pl-tablet:var(--g-s-2xl);--pb-tablet:0px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcYPoOEpn4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gI44CqhA9f relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVeQTOWmQS"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:15px;--pb:var(--g-s-l);--mb-mobile:10px;--pt-mobile:15px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVeQTOWmQS mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkM5Yy8cj- relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gq4V1X9_XQ"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8qMlS8WzC relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBsE26_RLj "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Sodium - for muscle contraction, muscle performance, and joint movement. *</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gh5YF-McAb"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:10px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gh5YF-McAb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUqI70LjXa relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gpbO8eTNy5"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9WYFCERsk relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbWpQ3IjMh "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Potassium - for fluid retention, hydration support, and muscle control. *&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gQn-V_UJvP"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:10px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQn-V_UJvP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7RYs4DOYv relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gZjiwnuPyv"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggTR7gn9ES relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="grXWlYiV6d "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Calcium - for bone health, muscle contraction, and hormone regulation. *</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gErzQPb0Ja"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:0px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gErzQPb0Ja mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3IPH2kqST relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gvAhFRmCIN"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gw0qDGs0Fs relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g3Kxhq9TR4 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Magnesium - for lactate reduction, muscle recovery, and digestion improvement. *</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="g9x8SGLyyv "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--pb-mobile:10px"
        >
        <p><span style="font-size:10px;">* These statements have not been evaluated by the Food and Drug Administration. Our products are not intended to diagnose, treat, cure or prevent any disease.</span></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
    <div
      data-index="2"
      style="--w:60%;--w-tablet:75%;--w-mobile:95%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px"
      class="gcN09E9pfJ gp-accordion-item overflow-hidden"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="gcN09E9pfJ flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:5px;--pb:5px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:5px;--pb-tablet:5px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:5px;--pb-mobile:5px;--fd:row-reverse;--jc:space-between;--bgc:#D9F2F5;--c:#121212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#121212"
            data-index="2"
            class="gcN09E9pfJ gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><div style="rotate: 180deg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></div></span>
        </div>
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Inter, Inter);--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:15px;--weight:bold;word-break:break-word"
        >
        <p>The Process</p>
        </span>
      </div>
    </div>
      </div>
      <div
        uid="glhfRCjxor"
        data-index="2"
        class="gcN09E9pfJ gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g6NEEDSk5n relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvmaP647MR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:var(undefined);--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:var(undefined);--pt-tablet:0px;--pl-tablet:var(--g-s-2xl);--pb-tablet:0px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvmaP647MR mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBj6wgANCI relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHwvKUbKQt "
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pt:var(--g-s-l);--mb-mobile:var(undefined);--pt-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--ff:var(--g-font-Inter, Inter);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;--pt-mobile:10px;--pb-mobile:10px"
        >
        <p>Long Run Coffee uses a patent pending process, that is both unique and effective.&nbsp;</p><p>&nbsp;</p><p>As coffee beans roast, they release natural oils. Immediately after roasting, we infuse our proprietary blend of electrolytes directly into these oils.</p><p>&nbsp;</p><p>The beans are then cooled, and allowed to set. This binds our electrolyte blend to the bean's exterior.&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div>