<div id="lrc-cart"></div>

<script
  type="text/javascript"
>
  const _lrc_cart_cart = encodeURIComponent(JSON.stringify({{ cart | json }}))
  const _lrc_cart_string = `<cart-slide cart="${_lrc_cart_cart}"></cart-slide>`
  document.getElementById('lrc-cart').innerHTML = _lrc_cart_string;
</script>
