<a
  href="{{ link }}"
  className="rounded w-full text-base flex items-center justify-center text-center py-3 px-4 font-accent border border-tan-600 bg-tan-100 text-tan-600 hover:border-tan-700 hover:text-tan-700 hover:bg-tan-200 cursor-pointer"
>
  {{ title }}
</a>
