<div class='relative min-h-screen -mb-20'>
  <div class='mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8'>
    <div class='mx-auto max-w-3xl text-center'>
      <h1 class='text-4xl lg:text-7xl font-accent text-cyan-700'>Frequently asked questions</h1>
      <p class='mt-6 text-xl text-neutral-700 font-medium'>
        Have a different question and can’t find the answer you’re looking for? Reach out to our support team by
        <a
          href='mailto:info@longruncoffee'
          class='font-semibold text-cyan-700 hover:text-cyan-600'
        >
          sending us an email
        </a>
        and we&apos;ll get back to you as soon as we can.
      </p>
    </div>
    <div class='mt-20'>
      <dl class='space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10'>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              I thought coffee was dehydrating. Do I need to drink more water to compensate?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              The electrolytes we infuse into our coffee products are meant to improve hydration and water absorption.
              Additionally, recent studies have show that consuming caffeinated drinks, such as coffee, don't
              necessarily cause fluid loss in excess of intake.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              How do I know the supplements dissolve properly into the brewed coffee?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Sodium Bicarbonate, Potassium Gluconate, Calcium Citrate, and Magnesium Citrate are all water soluble
              compounds. Additionally, Long Run Coffee has tested and confirmed that these supplements can pass through
              standard coffee filters (including paper filters, which generally collect finer particles).
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              Does my body type/size require different serving sizes of electrolytes? Do serving sizes depend on the
              distance of my run?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Differences in individual physiology will always result in different nutrient needs. This includes
              individual factors such as height, body composition, sweat rate, sweat composition, etc. Proper nutrient
              intake is also dependent on exercise duration. Long Run Coffee will promote proper electrolyte balance in
              the body, but is not meant to replace a balance diet. For this reason, we as endurance athletes need to
              make sure we fuel properly in general. This mentality applies to Long Run Coffee as well as other forms of
              dietary supplementation.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              Does anything happen to the nutrient profile during the coffee brewing process?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              All vitamins and minerals naturally degrade over time regardless. It's worth noting that heat can
              accelerate these chemical reactions. However, this should not be concerning. Many conventional cooking
              techniques (think roasting, boiling, or sautéing vegetables) heat vitamins and minerals to temperatures
              greater than that of coffee. To limit the natural degradation process, we only prepare and package our
              coffee after an order is placed. We hand-write the packaging date on each bag so you know it's fresh.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>How do I know if Long Run Coffee is helping me?</dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Electrolyte balance is important to maintain on a consistent basis. Insufficient electrolytes will lead to
              deficiencies, such as Hyponatremia, and will noticeably deteriorate athletic performance as well as
              general quality of life. A daily cup of Long Run Coffee will assist in preventing such deficiencies, as
              well as promote muscle function/control.* Read how on "The Science" page of our site.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>When should I drink Long Run Coffee?</dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              We recommend drinking Long Run Coffee any time prior to exercise. Conventional studies recommend nutrient
              intake at least 60 minutes prior to exercise, but more recent studies have also shown benefits for
              electrolyte consumption immediately prior to athletic efforts. For most athletes, enjoying Long Run Coffee
              in the morning will be adequate.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              I don't run extended distances. Will Long Run Coffee help me?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Yes! Electrolytes are important for all people. Electrolyte supplementation is thought to have benefits
              that everyone can appreciate, such as mental acuity, digestion, blood pressure management, and bone
              health.*
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              I am a cyclist/swimmer. Do the benefits of Long Run Coffee generalize to other athletes?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Yes! The ingredients infused in Long Run Coffee's products can benefit runners, swimmers, cyclists, and
              everyone in between. The potential benefits of electrolyte supplementation, such as muscle function,* are
              applicable to any kind of athlete.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              How important is the right ratio of electrolytes? Can I consume too much?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Electrolytes are lost through perspiration. Electrolyte supplementation, therefore, should depend on what
              ratio of electrolytes are lost during activity. Sodium is the primary electrolyte lost through
              perspiration, followed by potassium. Electrolyte consumption in excess of individual need are generally
              excreted by the body.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>How long is the shelf life of Long Run Coffee products?</dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Typically dietary supplements are shelf stable for 2-3 years. Coffee generally remains fresh for 3-5
              months or longer depending on storage conditions. Our coffee is packaged to order. We hand-write the
              preparation date on our products so you'll know it's fresh.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              Are there any health consequences to suddenly stop drinking Long Run Coffee?
            </dt>
            <dd class='mt-2 text-lg text-neutral-700 leading-7'>
              Long Run Coffee contains caffeine, which can have properties of dependence. Like all coffees, our products
              should be consumed sensibly.
            </dd>
          </div>
        </div>
        <div class='scroll-trigger animate--slide-in'>
          <div class='bg-white shadow px-6 py-4 rounded'>
            <dt class='font-accent text-xl text-cyan-700'>
              Running shoes are expensive. What else can I buy to fuel my running passion?
            </dt>
            <a href='/collections/coffee' class='mt-2 text-cyan-700 leading-7'>Shop</a>
          </div>
        </div>
      </dl>
    </div>
  </div>

  <div class='topography-pattern absolute inset-0 -z-30' />
</div>
