
  <style> @import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap'); </style>
  <style> .gps-488219233226851340 .gp-invisible{visibility:hidden}.gps-488219233226851340 .gp-absolute{position:absolute}.gps-488219233226851340 .gp-relative{position:relative}.gps-488219233226851340 .gp-z-1{z-index:1}.gps-488219233226851340 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-488219233226851340 .gp-mb-0{margin-bottom:0}.gps-488219233226851340 .\!gp-inline{display:inline!important}.gps-488219233226851340 .gp-flex{display:flex}.gps-488219233226851340 .gp-inline-flex{display:inline-flex}.gps-488219233226851340 .gp-grid{display:grid}.gps-488219233226851340 .\!gp-hidden{display:none!important}.gps-488219233226851340 .gp-hidden{display:none}.gps-488219233226851340 .gp-h-5{height:20px}.gps-488219233226851340 .gp-h-full{height:100%}.gps-488219233226851340 .gp-w-5{width:20px}.gps-488219233226851340 .gp-w-full{width:100%}.gps-488219233226851340 .gp-max-w-full{max-width:100%}.gps-488219233226851340 .gp-flex-col{flex-direction:column}.gps-488219233226851340 .gp-items-center{align-items:center}.gps-488219233226851340 .gp-justify-center{justify-content:center}.gps-488219233226851340 .gp-gap-y-0{row-gap:0}.gps-488219233226851340 .gp-overflow-hidden{overflow:hidden}.gps-488219233226851340 .gp-break-words{overflow-wrap:break-word}.gps-488219233226851340 .gp-rounded-none{border-radius:0}.gps-488219233226851340 .gp-no-underline{text-decoration-line:none}.gps-488219233226851340 .gp-opacity-25{opacity:.25}.gps-488219233226851340 .gp-opacity-75{opacity:.75}.gps-488219233226851340 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488219233226851340 .gp-duration-200{transition-duration:.2s}.gps-488219233226851340 .gp-duration-300{transition-duration:.3s}.gps-488219233226851340 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488219233226851340 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-488219233226851340 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-488219233226851340 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-488219233226851340 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-488219233226851340 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-488219233226851340 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-488219233226851340 .tablet\:\!gp-hidden{display:none!important}.gps-488219233226851340 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-488219233226851340 .mobile\:\!gp-hidden{display:none!important}.gps-488219233226851340 .mobile\:gp-hidden{display:none}}.gps-488219233226851340 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-488219233226851340 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g_cLWUNYKI"
        style="--b:solid;--bc:#C9EDF1;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:20px;--pt:0px;--pb:20px;--pt-mobile:0px;--pb-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EEF8FE;--bgc-mobile:#F0FDFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g_cLWUNYKI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grwG19Izcv gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gqrogC36IC"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057 1440w" width="6720" height="1176" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:6720/1176;--aspect-tablet:6720/1176;--aspect-mobile:6720/1176;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Long_Run_Reviews.webp?v=1717267057 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6720" height="1176" alt="Alt image"
      sizes="100vw"
      style="--aspect:6720/1176;--aspect-tablet:6720/1176;--aspect-mobile:6720/1176;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      
      
    <div
      parentTag="Col" id="gtJdsO_MF2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:30px;--pb:10px;--mb-tablet:0px;--pt-tablet:20px;--pb-tablet:0px;--cg:0px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:50%;--w-tablet:70%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtJdsO_MF2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw4kuvGEHi gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    class=""
  >
    <style>
    .gB0LPpmzDO.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gB0LPpmzDO:hover::before {
      
      
    }
  </style>
    <a
      href="#gCeMZfjaoP" target="_self" data-id="gB0LPpmzDO" aria-label="Original Roasts"
      
      data-state="idle"
      class="gB0LPpmzDO gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#A0B3C7;--bg:#122942;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--hvr-c:#122942;--c:#F0F4F8;--w:70%;--w-tablet:60%;--w-mobile:;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:uppercase;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:12px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggB0LPpmzDO_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVhBkNkBuh gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    class=""
  >
    <style>
    .g7wD3pIrLC.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .g7wD3pIrLC:hover::before {
      
      
    }
  </style>
    <a
      href="#ge-tc4C6ZZ" target="_self" data-id="g7wD3pIrLC" aria-label="Flavored Roasts"
      
      data-state="idle"
      class="g7wD3pIrLC gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#69CDD8;--bg:#094E54;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--hvr-c:#094E54;--c:#FFFFFF;--w:70%;--w-tablet:60%;--w-mobile:;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:uppercase;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:12px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg7wD3pIrLC_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-488219233226851340 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=487646738010604413&sectionId=488219233226851340)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"html","id":"ggB0LPpmzDO_label","label":"ggB0LPpmzDO_label","default":"Original Roasts"},{"type":"html","id":"gg7wD3pIrLC_label","label":"gg7wD3pIrLC_label","default":"Flavored Roasts"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
