
  
  <style> .gps-509599835020592003 .gp-relative{position:relative}.gps-509599835020592003 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509599835020592003 .gp-mb-0{margin-bottom:0}.gps-509599835020592003 .gp-flex{display:flex}.gps-509599835020592003 .gp-grid{display:grid}.gps-509599835020592003 .\!gp-hidden{display:none!important}.gps-509599835020592003 .gp-hidden{display:none}.gps-509599835020592003 .gp-h-full{height:100%}.gps-509599835020592003 .gp-w-full{width:100%}.gps-509599835020592003 .gp-max-w-full{max-width:100%}.gps-509599835020592003 .gp-flex-col{flex-direction:column}.gps-509599835020592003 .gp-gap-y-0{row-gap:0}.gps-509599835020592003 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509599835020592003 .gp-duration-200{transition-duration:.2s}.gps-509599835020592003 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509599835020592003 .tablet\:\!gp-hidden{display:none!important}.gps-509599835020592003 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509599835020592003 .mobile\:\!gp-hidden{display:none!important}.gps-509599835020592003 .mobile\:gp-hidden{display:none}}.gps-509599835020592003 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g69_R0YZSw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:50px;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g69_R0YZSw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR8JLPgB2a gp-relative gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:100px;--mb:70px;--pt:0px;--pl:5px;--pr:5px;--mt-mobile:40px;--mb-mobile:20px;--pl-mobile:5px;--pr-mobile:5px" class="gD4R8-MUUT ">
      
    <div
      class=""
      style="--ta:center"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-WenGdM"></div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-509599835020592003 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509599834919928707&sectionId=509599835020592003)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
