
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-485854940166685580 .gp-invisible{visibility:hidden}.gps-485854940166685580 .gp-absolute{position:absolute}.gps-485854940166685580 .gp-relative{position:relative}.gps-485854940166685580 .gp-z-1{z-index:1}.gps-485854940166685580 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485854940166685580 .gp-mb-0{margin-bottom:0}.gps-485854940166685580 .\!gp-inline{display:inline!important}.gps-485854940166685580 .gp-flex{display:flex}.gps-485854940166685580 .gp-inline-flex{display:inline-flex}.gps-485854940166685580 .gp-grid{display:grid}.gps-485854940166685580 .\!gp-hidden{display:none!important}.gps-485854940166685580 .gp-hidden{display:none}.gps-485854940166685580 .gp-h-5{height:20px}.gps-485854940166685580 .gp-h-full{height:100%}.gps-485854940166685580 .gp-w-5{width:20px}.gps-485854940166685580 .gp-w-full{width:100%}.gps-485854940166685580 .gp-max-w-full{max-width:100%}.gps-485854940166685580 .gp-flex-col{flex-direction:column}.gps-485854940166685580 .gp-items-center{align-items:center}.gps-485854940166685580 .gp-justify-center{justify-content:center}.gps-485854940166685580 .gp-gap-y-0{row-gap:0}.gps-485854940166685580 .gp-overflow-hidden{overflow:hidden}.gps-485854940166685580 .gp-break-words{overflow-wrap:break-word}.gps-485854940166685580 .gp-rounded-none{border-radius:0}.gps-485854940166685580 .gp-no-underline{text-decoration-line:none}.gps-485854940166685580 .gp-opacity-25{opacity:.25}.gps-485854940166685580 .gp-opacity-75{opacity:.75}.gps-485854940166685580 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940166685580 .gp-duration-200{transition-duration:.2s}.gps-485854940166685580 .gp-duration-300{transition-duration:.3s}.gps-485854940166685580 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940166685580 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485854940166685580 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485854940166685580 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-485854940166685580 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-485854940166685580 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-485854940166685580 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-485854940166685580 .tablet\:\!gp-hidden{display:none!important}.gps-485854940166685580 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-485854940166685580 .mobile\:\!gp-hidden{display:none!important}.gps-485854940166685580 .mobile\:gp-hidden{display:none}}.gps-485854940166685580 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485854940166685580 .\[\&_p\]\:gp-inline p{display:inline}.gps-485854940166685580 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-485854940166685580 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485854940166685580 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="i2l260cb3cd6e"
        style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:50px;--ml:auto;--mb:0px;--mr:auto;--pt:10px;--pl:0px;--pb:50px;--pr:0px;--mt-mobile:50px;--ml-mobile:auto;--mb-mobile:50px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:20px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F0F4F7;--bgc-tablet:#F0F4F7;--bgc-mobile:#F0F4F7"
        class="i2l260cb3cd6e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l260cb3cd6e gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5xcGgkImW"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pl:250px;--pr:250px;--mb-mobile:var(--g-s-l);--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pl-tablet:200px;--pr-tablet:200px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5xcGgkImW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghMmD1EJWs gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g1bqYspXfp"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:0px;--mb:0px;--pt:5px;--pl:0px;--pr:0px;--mt-mobile:20px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392 1440w" width="5000" height="3889" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:5000/3889;--aspect-tablet:5000/3889;--aspect-mobile:5000/3889;--objf:cover;--objf-tablet:cover;--h:auto;--h-tablet:auto;--h-mobile:325px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/which-plan.png?v=1716058392 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="5000" height="3889" alt="Alt image"
      sizes="100vw"
      style="--aspect:5000/3889;--aspect-tablet:5000/3889;--aspect-mobile:5000/3889;--objf:cover;--objf-tablet:cover;--h:auto;--h-tablet:auto;--h-mobile:325px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="ggvXc9f2sL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pr-mobile:10px;--mb-tablet:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.4px;--lh:180%;--size:17px;--size-tablet:14px;--size-mobile:13px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggvXc9f2sL_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--pt-mobile:30px;--pb-mobile:30px;--ta:center"
    class=""
  >
    <style>
    .gEzTQkS4jJ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DD8728;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .gEzTQkS4jJ:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gEzTQkS4jJ" aria-label="Build My Subscription"
      
      data-state="idle"
      class="gEzTQkS4jJ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DD8728;--w:50%;--w-tablet:400px;--w-mobile:80%;--h:55px;--h-tablet:40px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:17px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggEzTQkS4jJ_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 11",
      "tag": "section",
      "class": "gps-485854940166685580 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940166685580)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gggvXc9f2sL_text","label":"gggvXc9f2sL_text","default":"<p>Savings / year calculated with club savings, shipping, free experimental samples, and applicable welcome gear.</p>"},{"type":"text","id":"ggEzTQkS4jJ_label","label":"ggEzTQkS4jJ_label","default":"Build My Subscription"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
