
  
  
  <style>
    .gps-488357003798774796 .pointer-events-none{pointer-events:none}.gps-488357003798774796 .pointer-events-auto{pointer-events:auto}.gps-488357003798774796 .relative{position:relative}.gps-488357003798774796 .mx-auto{margin-left:auto;margin-right:auto}.gps-488357003798774796 .mb-0{margin-bottom:0}.gps-488357003798774796 .inline-block{display:inline-block}.gps-488357003798774796 .flex{display:flex}.gps-488357003798774796 .grid{display:grid}.gps-488357003798774796 .h-full{height:100%}.gps-488357003798774796 .w-full{width:100%}.gps-488357003798774796 .max-w-full{max-width:100%}.gps-488357003798774796 .flex-col{flex-direction:column}.gps-488357003798774796 .gap-y-0{row-gap:0}.gps-488357003798774796 .overflow-hidden{overflow:hidden}.gps-488357003798774796 .align-middle{vertical-align:middle}.gps-488357003798774796 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488357003798774796 .duration-200{transition-duration:.2s}.gps-488357003798774796 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488357003798774796 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="guFYv0Sy0p"
        style="--mt:0px;--mb:40px;--pt:0px;--pb:0px;--mt-mobile:30px;--mb-mobile:30px;--pt-mobile:0px;--pb-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guFYv0Sy0p mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvZhIX8p_A relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gglQOG9UOq"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-67b21544-9827-42df-a736-c0c14b98c13f.png" | asset_url }}" data-srcset="{{ '484137708004836523-67b21544-9827-42df-a736-c0c14b98c13f.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-67b21544-9827-42df-a736-c0c14b98c13f.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-67b21544-9827-42df-a736-c0c14b98c13f.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1575" height="525" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-488357003798774796 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=488357003798774796&template_id=488166887893500797)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
