

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-554008940082561929.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-554008940082561929.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-554008940082561929.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-554008940082561929.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-554008940082561929.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-554008940082561929.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-554008940082561929.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-554008940082561929.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-554008940082561929.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-554008940082561929.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-554008940082561929.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-554008940082561929.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-554008940082561929.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-554008940082561929.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-554008940082561929.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-554008940082561929.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-554008940082561929.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-554008940082561929.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-554008940082561929.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-554008940082561929.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-554008940082561929.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-554008940082561929.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-554008940082561929.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-554008940082561929.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-554008940082561929.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-554008940082561929.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-554008940082561929.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-554008940082561929.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-554008940082561929.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-554008940082561929.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-554008940082561929.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-554008940082561929.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-554008940082561929.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-554008940082561929.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-554008940082561929.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-554008940082561929.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-554008940082561929.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-554008940082561929.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-554008940082561929.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-554008940082561929.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-554008940082561929.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-554008940082561929.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-554008940082561929.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-554008940082561929.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-554008940082561929.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-554008940082561929.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-554008940082561929.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-554008940082561929.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-554008940082561929.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-554008940082561929.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-554008940082561929.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-554008940082561929.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-554008940082561929.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-554008940082561929.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-554008940082561929.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-554008940082561929.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-554008940082561929.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-554008940082561929.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-554008940082561929.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-554008940082561929.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-554008940082561929.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-554008940082561929.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-554008940082561929.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-554008940082561929.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-554008940082561929.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-554008940082561929.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-554008940082561929.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-554008940082561929.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-554008940082561929.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-554008940082561929.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-554008940082561929.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-554008940082561929.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-554008940082561929.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-554008940082561929.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-554008940082561929.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-554008940082561929.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-554008940082561929.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-554008940082561929.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-554008940082561929.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-554008940082561929.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-554008940082561929.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-554008940082561929.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-554008940082561929 .gp-relative{position:relative}.gps-554008940082561929 .gp-z-1{z-index:1}.gps-554008940082561929 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-554008940082561929 .gp-mb-0{margin-bottom:0}.gps-554008940082561929 .gp-flex{display:flex}.gps-554008940082561929 .gp-inline-flex{display:inline-flex}.gps-554008940082561929 .gp-grid{display:grid}.gps-554008940082561929 .gp-contents{display:contents}.gps-554008940082561929 .\!gp-hidden{display:none!important}.gps-554008940082561929 .gp-hidden{display:none}.gps-554008940082561929 .gp-h-full{height:100%}.gps-554008940082561929 .gp-w-full{width:100%}.gps-554008940082561929 .gp-max-w-full{max-width:100%}.gps-554008940082561929 .gp-flex-col{flex-direction:column}.gps-554008940082561929 .gp-items-center{align-items:center}.gps-554008940082561929 .gp-justify-center{justify-content:center}.gps-554008940082561929 .gp-gap-y-0{row-gap:0}.gps-554008940082561929 .gp-overflow-hidden{overflow:hidden}.gps-554008940082561929 .gp-break-words{overflow-wrap:break-word}.gps-554008940082561929 .gp-rounded-none{border-radius:0}.gps-554008940082561929 .gp-no-underline{text-decoration-line:none}.gps-554008940082561929 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554008940082561929 .gp-duration-200{transition-duration:.2s}.gps-554008940082561929 .gp-duration-300{transition-duration:.3s}.gps-554008940082561929 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554008940082561929 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-554008940082561929 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-554008940082561929 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-554008940082561929 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-554008940082561929 .tablet\:\!gp-hidden{display:none!important}.gps-554008940082561929 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-554008940082561929 .mobile\:\!gp-hidden{display:none!important}.gps-554008940082561929 .mobile\:gp-hidden{display:none}}.gps-554008940082561929 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-554008940082561929 .\[\&_p\]\:gp-inline p{display:inline}.gps-554008940082561929 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-554008940082561929 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-554008940082561929 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gyEXcBwKgi" data-id="gyEXcBwKgi"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:20px;--pb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#EFF7FF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gyEXcBwKgi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJPEjPAxOK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gglU6nA7xO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gglU6nA7xO "
        style="--ta:left;--mb:var(--g-s-l);--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-body, body);--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:25px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#1D3C5B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggglU6nA7xO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="g4VHijcX5t"
    role="presentation"
    class="gp-group/image g4VHijcX5t"
    style="--mb-mobile:25px;--pl-mobile:5px;--pr-mobile:5px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-50de0abe-c45f-4d91-9507-29d8cc16291e_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIxOTMzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAwLTE5MzMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMDAiIGhlaWdodD0iMTkzMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIxOTMzIiBmaWxsPSJ1cmwoI2ctMzAwMC0xOTMzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwMCIgdG89IjMwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .glGtZ4vaOE.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #dd8815;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .glGtZ4vaOE:hover::before {
      
      
    }

    .glGtZ4vaOE:hover .gp-button-icon {
      color: undefined;
    }

     .glGtZ4vaOE .gp-button-icon {
      color: #DD8815;
    }

    .glGtZ4vaOE:hover .gp-button-price {
      color: undefined;
    }

    .glGtZ4vaOE .gp-button-price {
      color: #DD8815;
    }

    .glGtZ4vaOE .gp-product-dot-price {
       color: #DD8815;
    }

    .glGtZ4vaOE:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="glGtZ4vaOE" aria-label="<p>get the sampler &nbsp;- &nbsp;Save 30%</p>"
      
      data-state="idle"
      class="glGtZ4vaOE gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#FFF6EB;--hvr-bg:#fff6eb;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:95%;--h:Auto;--h-tablet:Auto;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--c:#DD8815;--size:17px;--size-tablet:18px;--size-mobile:20px;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-heading, heading);--weight:bold;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:17px;--size-tablet:18px;--size-mobile:20px"
      >
        {{ section.settings.gglGtZ4vaOE_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpg.woff) format('woff');
}
/* arabic */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbFFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* vietnamese */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbPFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbOFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpgjQ70a32I.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-554008940082561929 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554008939998479241&sectionId=554008940082561929)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggglU6nA7xO_text","label":"ggglU6nA7xO_text","default":"<p>It's Coffee, and Electrolytes</p>"},{"type":"html","id":"gglGtZ4vaOE_label","label":"gglGtZ4vaOE_label","default":"<p>get the sampler &nbsp;- &nbsp;Save 30%</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
