
  
  
      <style>
        @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-485521538615936254 .-rotate-90,.gps-485521538615936254 .-scale-100,.gps-485521538615936254 .-translate-x-full,.gps-485521538615936254 .-translate-y-1\/2,.gps-485521538615936254 .mobile\:-translate-y-1\/2,.gps-485521538615936254 .mobile\:rotate-0,.gps-485521538615936254 .mobile\:rotate-180,.gps-485521538615936254 .mobile\:translate-x-0,.gps-485521538615936254 .mobile\:translate-y-1\/2,.gps-485521538615936254 .rotate-0,.gps-485521538615936254 .rotate-180,.gps-485521538615936254 .rotate-90,.gps-485521538615936254 .tablet\:-translate-y-1\/2,.gps-485521538615936254 .tablet\:rotate-0,.gps-485521538615936254 .tablet\:rotate-180,.gps-485521538615936254 .tablet\:translate-x-0,.gps-485521538615936254 .tablet\:translate-y-1\/2,.gps-485521538615936254 .transform,.gps-485521538615936254 .translate-x-full,.gps-485521538615936254 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-485521538615936254 [data-browser=safari]:after{--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: }.gps-485521538615936254 .shadow-md,.gps-485521538615936254 .shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-485521538615936254 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-485521538615936254 .btn-disabled{cursor:default}.gps-485521538615936254 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-485521538615936254 .g-s-tag-small{padding:2px 8px}.gps-485521538615936254 .sr-only{clip:rect(0,0,0,0);border-width:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}.gps-485521538615936254 .pointer-events-none{pointer-events:none}.gps-485521538615936254 .pointer-events-auto{pointer-events:auto}.gps-485521538615936254 .visible{visibility:visible}.gps-485521538615936254 .invisible{visibility:hidden}.gps-485521538615936254 .absolute{position:absolute}.gps-485521538615936254 .relative{position:relative}.gps-485521538615936254 .inset-0{inset:0}.gps-485521538615936254 .bottom-0{bottom:0}.gps-485521538615936254 .bottom-1\/2{bottom:50%}.gps-485521538615936254 .left-1{left:4px}.gps-485521538615936254 .right-0{right:0}.gps-485521538615936254 .right-1{right:4px}.gps-485521538615936254 .top-1\/2{top:50%}.gps-485521538615936254 .z-9{z-index:9}.gps-485521538615936254 .z-\[90\]{z-index:90}.gps-485521538615936254 .mx-auto{margin-left:auto;margin-right:auto}.gps-485521538615936254 .my-0{margin-bottom:0;margin-top:0}.gps-485521538615936254 .\!ml-0{margin-left:0!important}.gps-485521538615936254 .mb-0{margin-bottom:0}.gps-485521538615936254 .ml-1{margin-left:4px}.gps-485521538615936254 .mr-\[12px\]{margin-right:12px}.gps-485521538615936254 .mt-2{margin-top:8px}.gps-485521538615936254 .mt-4{margin-top:16px}.gps-485521538615936254 .block{display:block}.gps-485521538615936254 .inline-block{display:inline-block}.gps-485521538615936254 .flex{display:flex}.gps-485521538615936254 .inline-flex{display:inline-flex}.gps-485521538615936254 .grid{display:grid}.gps-485521538615936254 .contents{display:contents}.gps-485521538615936254 .\!hidden{display:none!important}.gps-485521538615936254 .hidden{display:none}.gps-485521538615936254 .aspect-square{aspect-ratio:1/1}.gps-485521538615936254 .h-5{height:20px}.gps-485521538615936254 .h-6{height:24px}.gps-485521538615936254 .h-auto{height:auto}.gps-485521538615936254 .h-fit{height:-moz-fit-content;height:fit-content}.gps-485521538615936254 .h-full{height:100%}.gps-485521538615936254 .\!w-full{width:100%!important}.gps-485521538615936254 .w-5{width:20px}.gps-485521538615936254 .w-6{width:24px}.gps-485521538615936254 .w-\[12px\]{width:12px}.gps-485521538615936254 .w-auto{width:auto}.gps-485521538615936254 .w-full{width:100%}.gps-485521538615936254 .min-w-\[45px\]{min-width:45px}.gps-485521538615936254 .min-w-fit{min-width:-moz-fit-content;min-width:fit-content}.gps-485521538615936254 .max-w-full{max-width:100%}.gps-485521538615936254 .flex-1{flex:1 1 0%}.gps-485521538615936254 .flex-none{flex:none}.gps-485521538615936254 .shrink-0{flex-shrink:0}.gps-485521538615936254 .shrink-\[99999\]{flex-shrink:99999}.gps-485521538615936254 .-translate-x-full{--tw-translate-x:-100%}.gps-485521538615936254 .-translate-x-full,.gps-485521538615936254 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-485521538615936254 .translate-x-full{--tw-translate-x:100%}.gps-485521538615936254 .translate-x-full,.gps-485521538615936254 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .translate-y-1\/2{--tw-translate-y:50%}.gps-485521538615936254 .-rotate-90{--tw-rotate:-90deg}.gps-485521538615936254 .-rotate-90,.gps-485521538615936254 .rotate-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .rotate-0{--tw-rotate:0deg}.gps-485521538615936254 .rotate-180{--tw-rotate:180deg}.gps-485521538615936254 .rotate-180,.gps-485521538615936254 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .rotate-90{--tw-rotate:90deg}.gps-485521538615936254 .-scale-100{--tw-scale-x:-1;--tw-scale-y:-1}.gps-485521538615936254 .-scale-100,.gps-485521538615936254 .transform{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@keyframes spin{to{transform:rotate(1turn)}}.gps-485521538615936254 .animate-spin{animation:spin 1s linear infinite}.gps-485521538615936254 .\!cursor-not-allowed{cursor:not-allowed!important}.gps-485521538615936254 .cursor-pointer{cursor:pointer}.gps-485521538615936254 .appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none}.gps-485521538615936254 .flex-row{flex-direction:row}.gps-485521538615936254 .flex-col{flex-direction:column}.gps-485521538615936254 .flex-wrap{flex-wrap:wrap}.gps-485521538615936254 .items-start{align-items:flex-start}.gps-485521538615936254 .items-end{align-items:flex-end}.gps-485521538615936254 .items-center{align-items:center}.gps-485521538615936254 .items-baseline{align-items:baseline}.gps-485521538615936254 .justify-start{justify-content:flex-start}.gps-485521538615936254 .justify-center{justify-content:center}.gps-485521538615936254 .gap-2{gap:8px}.gps-485521538615936254 .gap-3{gap:12px}.gps-485521538615936254 .gap-\[6px\]{gap:6px}.gps-485521538615936254 .gap-y-0{row-gap:0}.gps-485521538615936254 .overflow-hidden{overflow:hidden}.gps-485521538615936254 .overflow-clip{overflow:clip}.gps-485521538615936254 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-485521538615936254 .text-ellipsis{text-overflow:ellipsis}.gps-485521538615936254 .break-words{overflow-wrap:break-word}.gps-485521538615936254 .\!rounded-full{border-radius:9999px!important}.gps-485521538615936254 .rounded-full{border-radius:9999px}.gps-485521538615936254 .rounded-md{border-radius:6px}.gps-485521538615936254 .rounded-none{border-radius:0}.gps-485521538615936254 .border{border-width:1px}.gps-485521538615936254 .\!border-x-0{border-left-width:0!important;border-right-width:0!important}.gps-485521538615936254 .border-y{border-bottom-width:1px;border-top-width:1px}.gps-485521538615936254 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-485521538615936254 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-485521538615936254 .bg-transparent{background-color:transparent}.gps-485521538615936254 .\!bg-\[length\:200\%\]{background-size:200%!important}.gps-485521538615936254 .bg-auto{background-size:auto}.gps-485521538615936254 .object-cover{-o-object-fit:cover;object-fit:cover}.gps-485521538615936254 .p-\[4px\]{padding:4px}.gps-485521538615936254 .px-1{padding-left:4px;padding-right:4px}.gps-485521538615936254 .px-4{padding-left:16px;padding-right:16px}.gps-485521538615936254 .pb-1{padding-bottom:4px}.gps-485521538615936254 .pl-4{padding-left:16px}.gps-485521538615936254 .pr-1{padding-right:4px}.gps-485521538615936254 .pr-6{padding-right:24px}.gps-485521538615936254 .text-center{text-align:center}.gps-485521538615936254 .align-middle{vertical-align:middle}.gps-485521538615936254 .leading-\[0\]{line-height:0}.gps-485521538615936254 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-485521538615936254 .text-g-text-1{color:var(--g-c-text-1)}.gps-485521538615936254 .text-g-text-2{color:var(--g-c-text-2)}.gps-485521538615936254 .text-g-text-3{color:var(--g-c-text-3)}.gps-485521538615936254 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-485521538615936254 .line-through{text-decoration-line:line-through}.gps-485521538615936254 .no-underline{text-decoration-line:none}.gps-485521538615936254 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-485521538615936254 .opacity-0{opacity:0}.gps-485521538615936254 .opacity-20{opacity:.2}.gps-485521538615936254 .opacity-25{opacity:.25}.gps-485521538615936254 .opacity-30{opacity:.3}.gps-485521538615936254 .opacity-75{opacity:.75}.gps-485521538615936254 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-485521538615936254 .shadow-md,.gps-485521538615936254 .shadow-none{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-485521538615936254 .shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-485521538615936254 .outline-none{outline:2px solid transparent;outline-offset:2px}.gps-485521538615936254 .outline{outline-style:solid}.gps-485521538615936254 .outline-1{outline-width:1px}.gps-485521538615936254 .-outline-offset-1{outline-offset:-1px}.gps-485521538615936254 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-485521538615936254 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485521538615936254 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485521538615936254 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485521538615936254 .duration-100{transition-duration:.1s}.gps-485521538615936254 .duration-150{transition-duration:.15s}.gps-485521538615936254 .duration-200{transition-duration:.2s}.gps-485521538615936254 .duration-300{transition-duration:.3s}.gps-485521538615936254 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485521538615936254 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-485521538615936254 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-485521538615936254 .hover\:text-black:hover{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}.gps-485521538615936254 .hover\:opacity-80:hover{opacity:.8}}.gps-485521538615936254 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-485521538615936254 .disabled\:cursor-default:disabled{cursor:default}.gps-485521538615936254 .disabled\:cursor-not-allowed:disabled{cursor:not-allowed}.gps-485521538615936254 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-485521538615936254 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-485521538615936254 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-485521538615936254 .data-\[disabled\=\'disabled\'\]\:pointer-events-none[data-disabled=disabled]{pointer-events:none}.gps-485521538615936254 .data-\[visible\=true\]\:block[data-visible=true]{display:block}.gps-485521538615936254 .data-\[hidden\=\'false\'\]\:flex[data-hidden=false]{display:flex}.gps-485521538615936254 .data-\[disabled\=true\]\:hidden[data-disabled=true],.gps-485521538615936254 .data-\[hidden\=\'true\'\]\:hidden[data-hidden=true]{display:none}.gps-485521538615936254 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-485521538615936254 .data-\[hidden\=true\]\:hidden[data-hidden=true],.gps-485521538615936254 .data-\[visible\=false\]\:hidden[data-visible=false]{display:none}.gps-485521538615936254 .data-\[disabled\=\'disabled\'\]\:\!cursor-not-allowed[data-disabled=disabled]{cursor:not-allowed!important}.gps-485521538615936254 .data-\[outline\=active\]\:p-\[1px\][data-outline=active]{padding:1px}.gps-485521538615936254 .data-\[disabled\=true\]\:opacity-60[data-disabled=true]{opacity:.6}.gps-485521538615936254 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:absolute[data-browser=safari]:after{content:var(--tw-content);position:absolute}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:bottom-0[data-browser=safari]:after{bottom:0;content:var(--tw-content)}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:left-0[data-browser=safari]:after{content:var(--tw-content);left:0}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:right-0[data-browser=safari]:after{content:var(--tw-content);right:0}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:h-1\/2[data-browser=safari]:after{content:var(--tw-content);height:50%}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:w-full[data-browser=safari]:after{content:var(--tw-content);width:100%}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:bg-gradient-to-t[data-browser=safari]:after{background-image:linear-gradient(to top,var(--tw-gradient-stops));content:var(--tw-content)}.gps-485521538615936254 .data-\[browser\=safari\]\:after\:from-white[data-browser=safari]:after{--tw-gradient-from:#fff var(--tw-gradient-from-position);--tw-gradient-to:hsla(0,0%,100%,0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to);content:var(--tw-content)}.gps-485521538615936254 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-485521538615936254 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-485521538615936254 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-485521538615936254 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-485521538615936254 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-485521538615936254 .tablet\:bottom-1\/2{bottom:50%}.gps-485521538615936254 .tablet\:left-4{left:16px}.gps-485521538615936254 .tablet\:right-4{right:16px}.gps-485521538615936254 .tablet\:top-1\/2{top:50%}.gps-485521538615936254 .tablet\:mt-2{margin-top:8px}.gps-485521538615936254 .tablet\:block{display:block}.gps-485521538615936254 .tablet\:\!inline{display:inline!important}.gps-485521538615936254 .tablet\:\!hidden{display:none!important}.gps-485521538615936254 .tablet\:hidden{display:none}.gps-485521538615936254 .tablet\:w-full{width:100%}.gps-485521538615936254 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-485521538615936254 .tablet\:-translate-y-1\/2,.gps-485521538615936254 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-485521538615936254 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-485521538615936254 .tablet\:rotate-0,.gps-485521538615936254 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .tablet\:rotate-0{--tw-rotate:0deg}.gps-485521538615936254 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .tablet\:flex-row{flex-direction:row}.gps-485521538615936254 .tablet\:flex-col{flex-direction:column}.gps-485521538615936254 .tablet\:justify-start{justify-content:flex-start}.gps-485521538615936254 .tablet\:px-0{padding-left:0;padding-right:0}.gps-485521538615936254 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-485521538615936254 .mobile\:-left-4{left:-16px}.gps-485521538615936254 .mobile\:-right-4{right:-16px}.gps-485521538615936254 .mobile\:bottom-1\/2{bottom:50%}.gps-485521538615936254 .mobile\:top-1\/2{top:50%}.gps-485521538615936254 .mobile\:mt-2{margin-top:8px}.gps-485521538615936254 .mobile\:block{display:block}.gps-485521538615936254 .mobile\:\!inline{display:inline!important}.gps-485521538615936254 .mobile\:\!hidden{display:none!important}.gps-485521538615936254 .mobile\:hidden{display:none}.gps-485521538615936254 .mobile\:w-full{width:100%}.gps-485521538615936254 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-485521538615936254 .mobile\:-translate-y-1\/2,.gps-485521538615936254 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-485521538615936254 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-485521538615936254 .mobile\:rotate-0,.gps-485521538615936254 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .mobile\:rotate-0{--tw-rotate:0deg}.gps-485521538615936254 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485521538615936254 .mobile\:flex-row{flex-direction:row}.gps-485521538615936254 .mobile\:flex-col{flex-direction:column}.gps-485521538615936254 .mobile\:items-start{align-items:flex-start}.gps-485521538615936254 .mobile\:justify-start{justify-content:flex-start}.gps-485521538615936254 .mobile\:justify-center{justify-content:center}.gps-485521538615936254 .mobile\:px-0{padding-left:0;padding-right:0}.gps-485521538615936254 .mobile\:pl-1{padding-left:4px}}.gps-485521538615936254 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-485521538615936254 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-485521538615936254 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-485521538615936254 .\[\&_p\]\:inline p{display:inline}.gps-485521538615936254 .\[\&_p\]\:truncate p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-485521538615936254 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485521538615936254 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}@media not all and (-webkit-min-device-pixel-ratio:0),not all and (min-resolution:0.001dpcm){.gps-485521538615936254 .safari\:\[\&_p\]\:inline p{display:inline}.gps-485521538615936254 .safari\:\[\&_p\]\:after\:whitespace-pre p:after{content:var(--tw-content);white-space:pre}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gvfvdebag1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:50px;--pl:15px;--pb:30px;--pr:15px;--pt-mobile:10px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--pt-tablet:20px;--pl-tablet:15px;--pb-tablet:20px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvfvdebag1 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gscbXYqZCN relative flex flex-col"
    >
      {% render 'gp-section-485521538615936254-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant  %}<div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:15px;--mb-mobile:0px;--mb-tablet:0px;--pb-tablet:15px" class="ga45H05_4m ">
      
    <gp-accordion
      class="flex w-full flex-col "
      style="--rg:15px"
      gp-data='{"setting":{"expanded":true,"expandItem":false,"activeKey":1,"isIconPlus":false,"iconPosition":"right"},"styles":{"bgColor":{"normal":"#094E54"},"color":{"normal":"#FFFFFF"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"itemBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0px","color":"#121212","isCustom":true,"position":"all","width":"0px 0px 0px 0px"}},"itemRounded":{"active":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"},"hover":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"},"normal":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"}},"width":{"desktop":"60%","mobile":"95%","tablet":"75%"},"fullWidth":{"desktop":false},"textColor":{"normal":"#FFFFFF"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"32px","vertical":"5px"},"mobile":{"horizontal":"28px","vertical":"5px"},"tablet":{"horizontal":"32px","vertical":"5px"}}}},"uid":"ga45H05_4m"}'
    >
    <div
                class="flex"
                style="--jc:center"
              >
                
    <div
      data-index="0"
      style="--w:60%;--w-tablet:75%;--w-mobile:95%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px"
      class="ga45H05_4m gp-accordion-item overflow-hidden"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="ga45H05_4m flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:5px;--pb:5px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:5px;--pb-tablet:5px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:5px;--pb-mobile:5px;--fd:row-reverse;--jc:space-between;--bgc:#094E54;--c:#FFFFFF;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#FFFFFF"
            data-index="0"
            class="ga45H05_4m gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><div style="rotate: 180deg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></div></span>
        </div>
        
    <div
      
        class="  overflow-clip"
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Inter, Inter);--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:15px;--weight:bold;word-break:break-word"
        >
        <p>The Benefits</p>
        </span>
      </div>
    </div>
      </div>
      <div
        uid="gAaDZg9dVy"
        data-index="0"
        class="ga45H05_4m gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="giSzOxXTnw relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJF1D_okUM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:0px;--mt-tablet:0px;--mb-tablet:var(undefined);--pt-tablet:0px;--pl-tablet:var(--g-s-2xl);--pb-tablet:0px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJF1D_okUM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV7je8dkE7 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDSTKJSt96  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pt:var(--g-s-l);--mb-mobile:var(undefined);--pt-mobile:0px;--pb-mobile:5px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--ff:var(--g-font-Inter, Inter);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;--pt-mobile:10px;--pb-mobile:10px"
        >
        <p>- Train harder, with our stomach friendly pH basic formula</p><p>&nbsp;</p><p>- Feel light on your feet, with a faster runner's high</p><p>&nbsp;</p><p>- Enjoy reduced fatigue, and quicker recovery</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:30px;--mb-mobile:20px;--mb-tablet:0px;--pb-tablet:30px" class="gcN09E9pfJ ">
      
    <gp-accordion
      class="flex w-full flex-col "
      style="--rg:15px"
      gp-data='{"setting":{"expanded":true,"expandItem":false,"activeKey":1,"isIconPlus":false,"iconPosition":"right"},"styles":{"bgColor":{"normal":"#D9F2F5"},"color":{"normal":"#121212"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"itemBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0px","color":"#121212","isCustom":true,"position":"all","width":"0px 0px 0px 0px"}},"itemRounded":{"active":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"},"hover":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"},"normal":{"bblr":"30px","bbrr":"30px","btlr":"30px","btrr":"30px","radiusType":"custom"}},"width":{"desktop":"60%","mobile":"95%","tablet":"75%"},"fullWidth":{"desktop":false},"textColor":{"normal":"#121212"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"32px","vertical":"5px"},"mobile":{"horizontal":"28px","vertical":"5px"},"tablet":{"horizontal":"32px","vertical":"5px"}}}},"uid":"gcN09E9pfJ"}'
    >
    <div
                class="flex"
                style="--jc:center"
              >
                
    <div
      data-index="0"
      style="--w:60%;--w-tablet:75%;--w-mobile:95%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px"
      class="gcN09E9pfJ gp-accordion-item overflow-hidden"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="gcN09E9pfJ flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:5px;--pb:5px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:5px;--pb-tablet:5px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:5px;--pb-mobile:5px;--fd:row-reverse;--jc:space-between;--bgc:#D9F2F5;--c:#121212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#121212"
            data-index="0"
            class="gcN09E9pfJ gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><div style="rotate: 180deg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></div></span>
        </div>
        
    <div
      
        class="  overflow-clip"
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Inter, Inter);--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:15px;--weight:bold;word-break:break-word"
        >
        <p>The Coffee</p>
        </span>
      </div>
    </div>
      </div>
      <div
        uid="gutJ8GKGza"
        data-index="0"
        class="gcN09E9pfJ gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gqeEEwe4Gb relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNJSTyPUJT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:var(undefined);--mt-tablet:0px;--mb-tablet:var(undefined);--pt-tablet:0px;--pl-tablet:var(--g-s-2xl);--pb-tablet:0px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNJSTyPUJT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gto-3puBo7 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8dCFvJmZw  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pt:var(--g-s-l);--mb-mobile:var(undefined);--pt-mobile:0px;--pb-mobile:5px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--ff:var(--g-font-Inter, Inter);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;--pt-mobile:10px;--pb-mobile:10px"
        >
        <p>Long Run Coffee needs to be made with specific coffee beans that, because of their premium quality, are likely to retain their caffeine compounds.</p><p>&nbsp;</p><p>This is important for the mental and physical effects that LRC has on your training.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
    <div
      data-index="1"
      style="--w:60%;--w-tablet:75%;--w-mobile:95%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px"
      class="gcN09E9pfJ gp-accordion-item overflow-hidden"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="gcN09E9pfJ flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:5px;--pb:5px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:5px;--pb-tablet:5px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:5px;--pb-mobile:5px;--fd:row-reverse;--jc:space-between;--bgc:#D9F2F5;--c:#121212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#121212"
            data-index="1"
            class="gcN09E9pfJ gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><div style="rotate: 180deg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></div></span>
        </div>
        
    <div
      
        class="  overflow-clip"
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Inter, Inter);--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:15px;--weight:bold;word-break:break-word"
        >
        <p>The Electrolytes</p>
        </span>
      </div>
    </div>
      </div>
      <div
        uid="gHlJUdNSzq"
        data-index="1"
        class="gcN09E9pfJ gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style=""
      class="gMogs8kvsz relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcYPoOEpn4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:var(undefined);--mt-tablet:0px;--mb-tablet:var(undefined);--pt-tablet:0px;--pl-tablet:var(--g-s-2xl);--pb-tablet:0px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcYPoOEpn4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gI44CqhA9f relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVeQTOWmQS"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:15px;--pb:var(--g-s-l);--mb-mobile:10px;--pt-mobile:15px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVeQTOWmQS mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkM5Yy8cj- relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gq4V1X9_XQ"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8qMlS8WzC relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBsE26_RLj  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Sodium - for muscle contraction, muscle performance, and joint movement. *</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gh5YF-McAb"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:10px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gh5YF-McAb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUqI70LjXa relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gpbO8eTNy5"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9WYFCERsk relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbWpQ3IjMh  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Potassium - for fluid retention, hydration support, and muscle control. *&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gQn-V_UJvP"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:10px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQn-V_UJvP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7RYs4DOYv relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gZjiwnuPyv"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggTR7gn9ES relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="grXWlYiV6d  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Calcium - for bone health, muscle contraction, and hormone regulation. *</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gErzQPb0Ja"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:0px;--pb-mobile:15px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gErzQPb0Ja mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3IPH2kqST relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:auto;--pb:auto;--pr:auto;--ta:left"
      class="leading-[0] gvAhFRmCIN"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:#52C41A"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-bg-3, bg-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-bg-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gw0qDGs0Fs relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g3Kxhq9TR4  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:13px;word-break:break-word"
        >
        <p>Magnesium - for lactate reduction, muscle recovery, and digestion improvement. *</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="g9x8SGLyyv  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--fs:normal;--ff:var(--g-font-Inter, Inter);--weight:400;--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--pb-mobile:10px"
        >
        <p><span style="font-size:10px;">* These statements have not been evaluated by the Food and Drug Administration. Our products are not intended to diagnose, treat, cure or prevent any disease.</span></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:center"
              >
                
    <div
      data-index="2"
      style="--w:60%;--w-tablet:75%;--w-mobile:95%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--hvr-bblr:30px;--hvr-bbrr:30px;--hvr-btlr:30px;--hvr-btrr:30px"
      class="gcN09E9pfJ gp-accordion-item overflow-hidden"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="gcN09E9pfJ flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:5px;--pb:5px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:5px;--pb-tablet:5px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:5px;--pb-mobile:5px;--fd:row-reverse;--jc:space-between;--bgc:#D9F2F5;--c:#121212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212"
      >
        <div class="mr-[12px] shrink-0">
          <span
            style="--c:#121212"
            data-index="2"
            class="gcN09E9pfJ gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><div style="rotate: 180deg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></div></span>
        </div>
        
    <div
      
        class="  overflow-clip"
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Inter, Inter);--ls:normal;--lh:150%;--size:15px;--size-tablet:16px;--size-mobile:15px;--weight:bold;word-break:break-word"
        >
        <p>The Process</p>
        </span>
      </div>
    </div>
      </div>
      <div
        uid="glhfRCjxor"
        data-index="2"
        class="gcN09E9pfJ gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g6NEEDSk5n relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvmaP647MR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:var(undefined);--pb-mobile:0px;--mt-tablet:0px;--mb-tablet:var(undefined);--pt-tablet:0px;--pl-tablet:var(--g-s-2xl);--pb-tablet:0px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvmaP647MR mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBj6wgANCI relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHwvKUbKQt  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pt:var(--g-s-l);--mb-mobile:var(undefined);--pt-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--ff:var(--g-font-Inter, Inter);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;--pt-mobile:10px;--pb-mobile:10px"
        >
        <p>Long Run Coffee uses a patent pending process, that is both unique and effective.&nbsp;</p><p>&nbsp;</p><p>As coffee beans roast, they release natural oils. Immediately after roasting, we infuse our proprietary blend of electrolytes directly into these oils.</p><p>&nbsp;</p><p>The beans are then cooled, and allowed to set. This binds our electrolyte blend to the bean's exterior.&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mb-mobile:30px;--pl-mobile:5px;--pr-mobile:5px;--mb-tablet:30px;--pl-tablet:400px;--pr-tablet:400px;--mb:30px;--pl:500px;--pr:500px" class="gPw-LZdXTP ">
      
    <div
      class=""
      style="--ta:center"
      class="h-full w-full"
    >
      <div class="klaviyo-form-YzTf8G"></div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-485521538615936254 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=485521538615936254&template_id=485521538280326398)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
