

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-536993905820828462.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-536993905820828462.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-536993905820828462.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-536993905820828462.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-536993905820828462.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-536993905820828462.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-536993905820828462.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-536993905820828462.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-536993905820828462.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-536993905820828462.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-536993905820828462.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-536993905820828462.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-536993905820828462.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-536993905820828462.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-536993905820828462.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-536993905820828462.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-536993905820828462.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-536993905820828462.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-536993905820828462.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-536993905820828462.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-536993905820828462.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-536993905820828462.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-536993905820828462.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-536993905820828462.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-536993905820828462.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-536993905820828462.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-536993905820828462.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-536993905820828462.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-536993905820828462.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-536993905820828462.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-536993905820828462.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-536993905820828462.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-536993905820828462.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-536993905820828462.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-536993905820828462.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-536993905820828462.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-536993905820828462.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-536993905820828462.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-536993905820828462.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-536993905820828462.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-536993905820828462.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-536993905820828462.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-536993905820828462.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-536993905820828462.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-536993905820828462.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-536993905820828462.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-536993905820828462.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-536993905820828462.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-536993905820828462.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-536993905820828462.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-536993905820828462.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-536993905820828462 .gp-relative{position:relative}.gps-536993905820828462 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-536993905820828462 .gp-mb-0{margin-bottom:0}.gps-536993905820828462 .gp-flex{display:flex}.gps-536993905820828462 .gp-grid{display:grid}.gps-536993905820828462 .\!gp-hidden{display:none!important}.gps-536993905820828462 .gp-hidden{display:none}.gps-536993905820828462 .gp-h-full{height:100%}.gps-536993905820828462 .gp-w-full{width:100%}.gps-536993905820828462 .gp-max-w-full{max-width:100%}.gps-536993905820828462 .gp-flex-col{flex-direction:column}.gps-536993905820828462 .gp-gap-y-0{row-gap:0}.gps-536993905820828462 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536993905820828462 .gp-duration-200{transition-duration:.2s}.gps-536993905820828462 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-536993905820828462 .tablet\:\!gp-hidden{display:none!important}.gps-536993905820828462 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-536993905820828462 .mobile\:\!gp-hidden{display:none!important}.gps-536993905820828462 .mobile\:gp-hidden{display:none}}.gps-536993905820828462 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g1GVXkEZef" data-id="g1GVXkEZef"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#f0f4f8;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g1GVXkEZef gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJPgTbh5c3 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="gietdJ0ys2 ">
      
    <div
      
      style="--ta:center"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-XFb9Xy"></div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-536993905820828462 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=499301219160818461&sectionId=536993905820828462)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
