

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-575335123415728978.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-575335123415728978.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-575335123415728978.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-575335123415728978.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-575335123415728978.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-575335123415728978.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-575335123415728978.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-575335123415728978.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-575335123415728978.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-575335123415728978.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-575335123415728978.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-575335123415728978.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-575335123415728978.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-575335123415728978.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-575335123415728978.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-575335123415728978.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-575335123415728978.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-575335123415728978.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-575335123415728978.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-575335123415728978.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-575335123415728978.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-575335123415728978.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-575335123415728978.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-575335123415728978.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-575335123415728978.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-575335123415728978.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-575335123415728978.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-575335123415728978.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-575335123415728978.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-575335123415728978.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-575335123415728978.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-575335123415728978.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-575335123415728978.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-575335123415728978.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-575335123415728978.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-575335123415728978.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-575335123415728978.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-575335123415728978.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-575335123415728978.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-575335123415728978.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-575335123415728978.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-575335123415728978.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-575335123415728978.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-575335123415728978.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-575335123415728978.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-575335123415728978.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-575335123415728978.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-575335123415728978.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-575335123415728978.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-575335123415728978.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-575335123415728978.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-575335123415728978.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-575335123415728978.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-575335123415728978.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-575335123415728978.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-575335123415728978.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-575335123415728978.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-575335123415728978.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-575335123415728978.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-575335123415728978.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-575335123415728978.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-575335123415728978.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-575335123415728978.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-575335123415728978.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-575335123415728978.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-575335123415728978.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-575335123415728978.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-575335123415728978.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-575335123415728978.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-575335123415728978.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-575335123415728978.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-575335123415728978 .\!gp-pointer-events-none{pointer-events:none!important}.gps-575335123415728978 .gp-relative{position:relative}.gps-575335123415728978 .gp-sticky{position:sticky}.gps-575335123415728978 .gp-z-1{z-index:1}.gps-575335123415728978 .gp-flex{display:flex}.gps-575335123415728978 .gp-inline-flex{display:inline-flex}.gps-575335123415728978 .\!gp-hidden{display:none!important}.gps-575335123415728978 .gp-hidden{display:none}.gps-575335123415728978 .gp-h-full{height:100%}.gps-575335123415728978 .gp-max-w-full{max-width:100%}.gps-575335123415728978 .gp-flex-col{flex-direction:column}.gps-575335123415728978 .gp-items-center{align-items:center}.gps-575335123415728978 .gp-justify-center{justify-content:center}.gps-575335123415728978 .gp-overflow-hidden{overflow:hidden}.gps-575335123415728978 .gp-break-words{overflow-wrap:break-word}.gps-575335123415728978 .gp-rounded-none{border-radius:0}.gps-575335123415728978 .gp-text-center{text-align:center}.gps-575335123415728978 .gp-no-underline{text-decoration-line:none}.gps-575335123415728978 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-575335123415728978 .gp-duration-300{transition-duration:.3s}.gps-575335123415728978 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-575335123415728978 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-575335123415728978 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-575335123415728978 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-575335123415728978 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-575335123415728978 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-575335123415728978 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-575335123415728978 .tablet\:\!gp-hidden{display:none!important}.gps-575335123415728978 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-575335123415728978 .mobile\:\!gp-hidden{display:none!important}.gps-575335123415728978 .mobile\:gp-hidden{display:none}}.gps-575335123415728978 .\[\&_gp-button_a\]\:\!gp-pointer-events-auto gp-button a{pointer-events:auto!important}.gps-575335123415728978 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

    
    <gp-sticky
    data-id="giRYTecYRh"
      gp-data='{"uid":"giRYTecYRh","setting":{"display":{"desktop":"always"}},"advanced":{"d":{"desktop":true,"tablet":true,"mobile":true}}}'
      id="giRYTecYRh"
      data-id="giRYTecYRh"
      class="giRYTecYRh {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}  !gp-pointer-events-none [&_gp-button_a]:!gp-pointer-events-auto"
      style="margin:0 auto;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--w:96%;--w-tablet:100%;--w-mobile:100%;z-index:100000"
    >
      <div 
         
        style="--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
      
      
      class="gMfqvDr06i gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}},"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Button","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:hidden;display:contents">
  <gp-button >
  <div
    style="--mt-mobile:5px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gaUHcbkVlI.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #de8417;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gaUHcbkVlI:hover::before {
      
      
    }

    .gaUHcbkVlI:hover .gp-button-icon {
      color: undefined;
    }

     .gaUHcbkVlI .gp-button-icon {
      color: #DE8417;
    }

    .gaUHcbkVlI:hover .gp-button-price {
      color: undefined;
    }

    .gaUHcbkVlI .gp-button-price {
      color: #DE8417;
    }

    .gaUHcbkVlI .gp-product-dot-price {
       color: #DE8417;
    }

    .gaUHcbkVlI:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#scroll-to-top" target="_self" data-id="gaUHcbkVlI" aria-label="<p>scroll to top</p>"
      
      data-state="idle"
      class="gaUHcbkVlI gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:#FBE4C9;--hvr-bg:var(--g-c-highlight, highlight);--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:90%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--c:#DE8417;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#DE8417"
      >
        {{ section.settings.ggaUHcbkVlI_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
</div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-575335123415728978 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=575314877594206794&sectionId=575335123415728978)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaUHcbkVlI_label","label":"ggaUHcbkVlI_label","default":"<p>scroll to top</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
