
  
  
  <style>
    .gps-486997345951548631 .pointer-events-none{pointer-events:none}.gps-486997345951548631 .pointer-events-auto{pointer-events:auto}.gps-486997345951548631 .relative{position:relative}.gps-486997345951548631 .mx-auto{margin-left:auto;margin-right:auto}.gps-486997345951548631 .mb-0{margin-bottom:0}.gps-486997345951548631 .inline-block{display:inline-block}.gps-486997345951548631 .flex{display:flex}.gps-486997345951548631 .grid{display:grid}.gps-486997345951548631 .h-full{height:100%}.gps-486997345951548631 .w-full{width:100%}.gps-486997345951548631 .max-w-full{max-width:100%}.gps-486997345951548631 .flex-col{flex-direction:column}.gps-486997345951548631 .gap-y-0{row-gap:0}.gps-486997345951548631 .overflow-hidden{overflow:hidden}.gps-486997345951548631 .align-middle{vertical-align:middle}.gps-486997345951548631 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486997345951548631 .duration-200{transition-duration:.2s}.gps-486997345951548631 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486997345951548631 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="grtpeIWfhv"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grtpeIWfhv mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTDKHemPXY relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gCTCKt1vSx"
    style="--mb:var(--g-s-l);--mb-mobile:20px;--d:none;--d-tablet:none;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-f74940a3-bb7b-41cb-bc40-41c3697a64d9.png" | asset_url }}" data-srcset="{{ '484137708004836523-f74940a3-bb7b-41cb-bc40-41c3697a64d9.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-f74940a3-bb7b-41cb-bc40-41c3697a64d9.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-f74940a3-bb7b-41cb-bc40-41c3697a64d9.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="1176" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-486997345951548631 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486997345951548631&template_id=486894481803576535)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
