
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555884920476533812.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555884920476533812.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555884920476533812.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555884920476533812.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555884920476533812.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555884920476533812.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555884920476533812.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555884920476533812.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555884920476533812.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555884920476533812.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555884920476533812.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555884920476533812.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555884920476533812.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555884920476533812.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555884920476533812.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555884920476533812.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555884920476533812.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555884920476533812.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555884920476533812.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555884920476533812.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555884920476533812.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555884920476533812.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555884920476533812.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555884920476533812.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555884920476533812.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555884920476533812.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555884920476533812.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555884920476533812.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555884920476533812.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555884920476533812.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555884920476533812.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555884920476533812.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555884920476533812.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555884920476533812.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-555884920476533812.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555884920476533812.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555884920476533812.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-555884920476533812.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555884920476533812.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555884920476533812.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555884920476533812.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-555884920476533812 .gp-relative{position:relative}.gps-555884920476533812 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555884920476533812 .gp-mb-0{margin-bottom:0}.gps-555884920476533812 .gp-flex{display:flex}.gps-555884920476533812 .gp-grid{display:grid}.gps-555884920476533812 .\!gp-hidden{display:none!important}.gps-555884920476533812 .gp-hidden{display:none}.gps-555884920476533812 .gp-h-full{height:100%}.gps-555884920476533812 .gp-w-full{width:100%}.gps-555884920476533812 .gp-max-w-full{max-width:100%}.gps-555884920476533812 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-555884920476533812 .gp-flex-col{flex-direction:column}.gps-555884920476533812 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555884920476533812 .gp-duration-200{transition-duration:.2s}.gps-555884920476533812 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-555884920476533812 .tablet\:\!gp-hidden{display:none!important}.gps-555884920476533812 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555884920476533812 .mobile\:\!gp-hidden{display:none!important}.gps-555884920476533812 .mobile\:gp-hidden{display:none}}.gps-555884920476533812 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIJrMwros2"}' data-id="gIJrMwros2" id="gIJrMwros2" data-same-height-subgrid-container class="gIJrMwros2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkqwz6XBfn gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gf-Bp5BTnh"}' data-id="gf-Bp5BTnh" id="gf-Bp5BTnh" data-same-height-subgrid-container class="gf-Bp5BTnh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG2k4FTm6f gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gKCJAeYekq ">
      
    <div
      
      style="--ta:center"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-SRhTRb"></div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-555884920476533812 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554278293134639988&sectionId=555884920476533812)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  