
  
  <style> .gps-511852129963475906 .gp-relative{position:relative}.gps-511852129963475906 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511852129963475906 .gp-mb-0{margin-bottom:0}.gps-511852129963475906 .gp-flex{display:flex}.gps-511852129963475906 .gp-grid{display:grid}.gps-511852129963475906 .\!gp-hidden{display:none!important}.gps-511852129963475906 .gp-hidden{display:none}.gps-511852129963475906 .gp-h-full{height:100%}.gps-511852129963475906 .gp-w-full{width:100%}.gps-511852129963475906 .gp-max-w-full{max-width:100%}.gps-511852129963475906 .gp-flex-col{flex-direction:column}.gps-511852129963475906 .gp-gap-y-0{row-gap:0}.gps-511852129963475906 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511852129963475906 .gp-duration-200{transition-duration:.2s}.gps-511852129963475906 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-511852129963475906 .tablet\:\!gp-hidden{display:none!important}.gps-511852129963475906 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511852129963475906 .mobile\:\!gp-hidden{display:none!important}.gps-511852129963475906 .mobile\:gp-hidden{display:none}}.gps-511852129963475906 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gKjFqkhNQu"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:80px;--pl:15px;--pb:32px;--pr:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKjFqkhNQu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gz99LoGAqZ gp-relative gp-flex gp-flex-col"
    >
      <div style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:20px;--mb-mobile:20px;--pb-mobile:0px" class="gwGs5nJT8O ">
      
    <div
      class=""
      style="--ta:left;--ta-mobile:center"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-VBWPf8"></div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 3",
      "tag": "section",
      "class": "gps-511852129963475906 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=511852129174946754&sectionId=511852129963475906)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
