

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-528737116289500113.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-528737116289500113.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-528737116289500113.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-528737116289500113.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-528737116289500113.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-528737116289500113.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-528737116289500113.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-528737116289500113.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-528737116289500113.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-528737116289500113.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-528737116289500113.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-528737116289500113.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-528737116289500113.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-528737116289500113.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-528737116289500113.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-528737116289500113.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-528737116289500113.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-528737116289500113.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-528737116289500113.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-528737116289500113.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-528737116289500113.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-528737116289500113.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-528737116289500113.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-528737116289500113.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-528737116289500113.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-528737116289500113.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-528737116289500113.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-528737116289500113.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-528737116289500113.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-528737116289500113.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-528737116289500113.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-528737116289500113.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-528737116289500113.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-528737116289500113.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-528737116289500113.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-528737116289500113.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-528737116289500113 .gp-relative{position:relative}.gps-528737116289500113 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-528737116289500113 .gp-mb-0{margin-bottom:0}.gps-528737116289500113 .gp-flex{display:flex}.gps-528737116289500113 .gp-grid{display:grid}.gps-528737116289500113 .\!gp-hidden{display:none!important}.gps-528737116289500113 .gp-hidden{display:none}.gps-528737116289500113 .gp-h-full{height:100%}.gps-528737116289500113 .gp-w-full{width:100%}.gps-528737116289500113 .gp-max-w-full{max-width:100%}.gps-528737116289500113 .gp-flex-col{flex-direction:column}.gps-528737116289500113 .gp-gap-y-0{row-gap:0}.gps-528737116289500113 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528737116289500113 .gp-duration-200{transition-duration:.2s}.gps-528737116289500113 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-528737116289500113 .tablet\:\!gp-hidden{display:none!important}.gps-528737116289500113 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-528737116289500113 .mobile\:\!gp-hidden{display:none!important}.gps-528737116289500113 .mobile\:gp-hidden{display:none}}.gps-528737116289500113 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gvEEu93qVJ"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvEEu93qVJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gU0LIuPf4c gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2EDh6hG0W"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2EDh6hG0W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gmjWAYJbvI gp-relative gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="g8BR0bMPGX ">
      
    <div
      
      style="--ta:left"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-XdT8XU"></div>
    </div>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-528737116289500113 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=504959917879198826&sectionId=528737116289500113)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
