
  
  
  <style>
    .gps-488226464139838333 .pointer-events-auto{pointer-events:auto}.gps-488226464139838333 .relative{position:relative}.gps-488226464139838333 .mx-auto{margin-left:auto;margin-right:auto}.gps-488226464139838333 .mb-0{margin-bottom:0}.gps-488226464139838333 .\!inline{display:inline!important}.gps-488226464139838333 .flex{display:flex}.gps-488226464139838333 .grid{display:grid}.gps-488226464139838333 .h-full{height:100%}.gps-488226464139838333 .w-full{width:100%}.gps-488226464139838333 .max-w-full{max-width:100%}.gps-488226464139838333 .flex-col{flex-direction:column}.gps-488226464139838333 .gap-y-0{row-gap:0}.gps-488226464139838333 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488226464139838333 .duration-200{transition-duration:.2s}.gps-488226464139838333 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488226464139838333 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gvLQamMa-a"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvLQamMa-a mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUYKtl4Mte relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gUyb9e_tvQ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:20px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-67bd4c73-83a1-48ee-b0e1-079ce622a8a8.png" | asset_url }}" data-srcset="{{ '484137708004836523-67bd4c73-83a1-48ee-b0e1-079ce622a8a8.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-67bd4c73-83a1-48ee-b0e1-079ce622a8a8.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-67bd4c73-83a1-48ee-b0e1-079ce622a8a8.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3250" height="382" alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:3250/382;--aspect-tablet:3250/382;--aspect-mobile:3250/382;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-488226464139838333 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=487646738010604413&sectionId=488226464139838333)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
