<style>
  .gps-497148338701861769 .pointer-events-auto {
    pointer-events: auto;
  }
  .gps-497148338701861769 .relative {
    position: relative;
  }
  .gps-497148338701861769 .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .gps-497148338701861769 .mb-0 {
    margin-bottom: 0;
  }
  .gps-497148338701861769 .\!inline {
    display: inline !important;
  }
  .gps-497148338701861769 .flex {
    display: flex;
  }
  .gps-497148338701861769 .grid {
    display: grid;
  }
  .gps-497148338701861769 .h-full {
    height: 100%;
  }
  .gps-497148338701861769 .w-full {
    width: 100%;
  }
  .gps-497148338701861769 .max-w-full {
    max-width: 100%;
  }
  .gps-497148338701861769 .flex-col {
    flex-direction: column;
  }
  .gps-497148338701861769 .gap-y-0 {
    row-gap: 0;
  }
  .gps-497148338701861769 .transition-colors {
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .gps-497148338701861769 .duration-200 {
    transition-duration: 0.2s;
  }
  .gps-497148338701861769 .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .gps-497148338701861769 .\[\&_\*\]\:max-w-full * {
    max-width: 100%;
  }
</style>

<section
  class="mx-auto max-w-full"
  style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
>
  <div
    id="g69_R0YZSw"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:50px;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
    class="g69_R0YZSw mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
  >
    <div
      label="Block"
      tag="Col"
      type="component"
      style="--jc:start"
      class="gR8JLPgB2a relative flex flex-col"
    >
      <div
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:100px;--mb:70px;--pt:0px;--mt-mobile:40px;--mb-mobile:20px"
        class="gD4R8-MUUT "
      >
        <div
          class=""
          style="--ta:center"
          class="h-full w-full"
        >
          <div class="klaviyo-form-TG7w26"></div>
        </div>
      </div>
      <div
        role="presentation"
        class="group/image gpd9V7ZK2G"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:10px;--mb:40px;--pl:100px;--pb:0px;--pr:100px;--mt-mobile:10px;--mb-mobile:var(--g-s-l);--pl-mobile:0px;--pr-mobile:30px;--ta:center"
      >
        <div
          class="pointer-events-auto h-full"

          class="h-full w-full"
          style="--shadow:none;border-radius:inherit;--ta:center"
        >
          <img
            quality="70"
            title
            draggable="false"
            class="!inline h-full max-w-full flex gp_lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/484137708004836523-9802e27b-121d-44e4-ba9c-ab1dd18f8b9c.gif?v=1711667550"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
            width="3840"
            height="384"
            alt="Alt image"
            priority
            base-src
            sizes="100vw"
            style="--aspect:3840/384;--aspect-tablet:3840/384;--aspect-mobile:3840/384;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
          >
        </div>
      </div>
      <div
        role="presentation"
        class="group/image gjrHVFb7_g"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:15px;--pt-mobile:15px;--pl-mobile:5px;--pr-mobile:5px;--ta:center"
      >
        <div
          class="pointer-events-auto h-full"

          class="h-full w-full"
          style="--shadow:none;border-radius:inherit;--ta:center"
        >
          <img
            quality="70"
            title
            draggable="false"
            class="!inline h-full max-w-full flex gp_lazyload"
            data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/484137708004836523-8c58e084-1348-4f3f-9e44-c55aee8e443b.gif?v=1711667546"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
            width="1920"
            height="480"
            alt="Alt image"
            priority
            base-src
            sizes="100vw"
            style="--aspect:1920/480;--aspect-tablet:1920/480;--aspect-mobile:1920/480;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section 1",
  "tag": "section",
  "class": "gps-497148338701861769 gps gpsi",
  "settings": [
    {
      "type": "paragraph",
      "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497148338584421257&sectionId=497148338701861769)"
    }
  ],
  "blocks": [{ "type": "@app" }]
}
{% endschema %}
