
  
  
  <style>
    .gps-485521538649490686 .relative{position:relative}.gps-485521538649490686 .mx-auto{margin-left:auto;margin-right:auto}.gps-485521538649490686 .mb-0{margin-bottom:0}.gps-485521538649490686 .flex{display:flex}.gps-485521538649490686 .grid{display:grid}.gps-485521538649490686 .max-w-full{max-width:100%}.gps-485521538649490686 .flex-col{flex-direction:column}.gps-485521538649490686 .gap-y-0{row-gap:0}.gps-485521538649490686 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485521538649490686 .duration-200{transition-duration:.2s}.gps-485521538649490686 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485521538649490686 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gBd5qnHyXv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:10px;--pb:10px;--pt-mobile:15px;--pb-mobile:15px;--pt-tablet:10px;--pb-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBd5qnHyXv mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkeP9CJ0my relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gh5SJutfU1 ">
      
    <div
      class=""
      style="--ta:left;--ta-mobile:left"
    >
      <div>
        {% assign widget = 'reviews' %}
        {% if widget == 'reviews' %}
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        {% else %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-485521538649490686 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=485521538649490686&template_id=485521538280326398)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
