

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-575326112305906207.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-575326112305906207.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-575326112305906207.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-575326112305906207.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-575326112305906207.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-575326112305906207.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-575326112305906207.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-575326112305906207.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-575326112305906207.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-575326112305906207.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-575326112305906207.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-575326112305906207.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-575326112305906207.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-575326112305906207.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-575326112305906207.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-575326112305906207.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-575326112305906207.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-575326112305906207.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-575326112305906207.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-575326112305906207.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-575326112305906207.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-575326112305906207.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-575326112305906207.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-575326112305906207.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-575326112305906207.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-575326112305906207.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-575326112305906207.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-575326112305906207.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-575326112305906207.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-575326112305906207.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-575326112305906207.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-575326112305906207.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-575326112305906207.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-575326112305906207.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-575326112305906207.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-575326112305906207.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-575326112305906207.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-575326112305906207.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-575326112305906207.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-575326112305906207.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-575326112305906207.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-575326112305906207.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-575326112305906207.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-575326112305906207.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-575326112305906207 .gp-relative{position:relative}.gps-575326112305906207 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-575326112305906207 .gp-mb-0{margin-bottom:0}.gps-575326112305906207 .gp-flex{display:flex}.gps-575326112305906207 .gp-grid{display:grid}.gps-575326112305906207 .gp-contents{display:contents}.gps-575326112305906207 .\!gp-hidden{display:none!important}.gps-575326112305906207 .gp-hidden{display:none}.gps-575326112305906207 .gp-h-auto{height:auto}.gps-575326112305906207 .gp-h-full{height:100%}.gps-575326112305906207 .gp-w-full{width:100%}.gps-575326112305906207 .gp-max-w-full{max-width:100%}.gps-575326112305906207 .gp-flex-none{flex:none}.gps-575326112305906207 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-575326112305906207 .gp-flex-col{flex-direction:column}.gps-575326112305906207 .gp-gap-y-0{row-gap:0}.gps-575326112305906207 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-575326112305906207 .gp-duration-200{transition-duration:.2s}.gps-575326112305906207 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-575326112305906207 .tablet\:\!gp-hidden{display:none!important}.gps-575326112305906207 .tablet\:gp-hidden{display:none}.gps-575326112305906207 .tablet\:gp-h-auto{height:auto}.gps-575326112305906207 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-575326112305906207 .mobile\:\!gp-hidden{display:none!important}.gps-575326112305906207 .mobile\:gp-hidden{display:none}.gps-575326112305906207 .mobile\:gp-h-auto{height:auto}.gps-575326112305906207 .mobile\:gp-flex-none{flex:none}}.gps-575326112305906207 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gndIKlGZhG" data-id="gndIKlGZhG"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gndIKlGZhG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gCeAezQWeO gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guNaA-9nD2"
    role="presentation"
    class="gp-group/image guNaA-9nD2 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-5e612432-faea-4bb2-a620-3008ff623bab.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-575326112305906207 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=575314877594206794&sectionId=575326112305906207)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
