
  
  <style> .gps-515869289245377764 .gp-relative{position:relative}.gps-515869289245377764 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515869289245377764 .gp-mb-0{margin-bottom:0}.gps-515869289245377764 .gp-flex{display:flex}.gps-515869289245377764 .gp-grid{display:grid}.gps-515869289245377764 .\!gp-hidden{display:none!important}.gps-515869289245377764 .gp-hidden{display:none}.gps-515869289245377764 .gp-max-w-full{max-width:100%}.gps-515869289245377764 .gp-flex-col{flex-direction:column}.gps-515869289245377764 .gp-gap-y-0{row-gap:0}.gps-515869289245377764 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515869289245377764 .gp-duration-200{transition-duration:.2s}.gps-515869289245377764 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-515869289245377764 .tablet\:\!gp-hidden{display:none!important}.gps-515869289245377764 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-515869289245377764 .mobile\:\!gp-hidden{display:none!important}.gps-515869289245377764 .mobile\:gp-hidden{display:none}}.gps-515869289245377764 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gWXxoV_Aya"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWXxoV_Aya gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="go-DjbEsh3 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-515869289245377764 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=515869289027208420&sectionId=515869289245377764)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
