
  
  
  <style>
    .gps-487039440909239511 .pointer-events-none{pointer-events:none}.gps-487039440909239511 .pointer-events-auto{pointer-events:auto}.gps-487039440909239511 .relative{position:relative}.gps-487039440909239511 .mx-auto{margin-left:auto;margin-right:auto}.gps-487039440909239511 .mb-0{margin-bottom:0}.gps-487039440909239511 .inline-block{display:inline-block}.gps-487039440909239511 .flex{display:flex}.gps-487039440909239511 .grid{display:grid}.gps-487039440909239511 .h-full{height:100%}.gps-487039440909239511 .w-full{width:100%}.gps-487039440909239511 .max-w-full{max-width:100%}.gps-487039440909239511 .flex-col{flex-direction:column}.gps-487039440909239511 .gap-y-0{row-gap:0}.gps-487039440909239511 .overflow-hidden{overflow:hidden}.gps-487039440909239511 .align-middle{vertical-align:middle}.gps-487039440909239511 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487039440909239511 .duration-200{transition-duration:.2s}.gps-487039440909239511 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-487039440909239511 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(95% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="g9FneaiLHV"
        style="--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:95%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9FneaiLHV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gprhUFcCAu relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gpYE7ByZGJ"
    style="--mb:30px;--mb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:none;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-619b162d-1c31-4f22-a9ef-c81fd151b2f5.png" | asset_url }}" data-srcset="{{ '484137708004836523-619b162d-1c31-4f22-a9ef-c81fd151b2f5.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-619b162d-1c31-4f22-a9ef-c81fd151b2f5.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-619b162d-1c31-4f22-a9ef-c81fd151b2f5.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="417" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-487039440909239511 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=487039440909239511&template_id=486894481803576535)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
