

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-485854940166620044.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-485854940166620044.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-485854940166620044.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-485854940166620044.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-485854940166620044.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-485854940166620044.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-485854940166620044.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-485854940166620044.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-485854940166620044.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-485854940166620044.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-485854940166620044.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-485854940166620044.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-485854940166620044.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-485854940166620044.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-485854940166620044.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-485854940166620044.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-485854940166620044.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-485854940166620044.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-485854940166620044.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-485854940166620044.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-485854940166620044.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-485854940166620044.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-485854940166620044.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-485854940166620044.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-485854940166620044.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-485854940166620044.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-485854940166620044.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-485854940166620044.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-485854940166620044.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-485854940166620044.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-485854940166620044.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-485854940166620044.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-485854940166620044.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-485854940166620044.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-485854940166620044.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-485854940166620044.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-485854940166620044.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-485854940166620044.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-485854940166620044.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-485854940166620044.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-485854940166620044.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-485854940166620044.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-485854940166620044.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-485854940166620044.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-485854940166620044.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-485854940166620044.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-485854940166620044.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-485854940166620044.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-485854940166620044.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-485854940166620044.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-485854940166620044.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-485854940166620044.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-485854940166620044.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-485854940166620044 .gp-relative{position:relative}.gps-485854940166620044 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485854940166620044 .gp-mb-0{margin-bottom:0}.gps-485854940166620044 .\!gp-inline{display:inline!important}.gps-485854940166620044 .gp-flex{display:flex}.gps-485854940166620044 .gp-grid{display:grid}.gps-485854940166620044 .\!gp-hidden{display:none!important}.gps-485854940166620044 .gp-hidden{display:none}.gps-485854940166620044 .gp-h-full{height:100%}.gps-485854940166620044 .gp-w-full{width:100%}.gps-485854940166620044 .gp-max-w-full{max-width:100%}.gps-485854940166620044 .gp-flex-col{flex-direction:column}.gps-485854940166620044 .gp-gap-y-0{row-gap:0}.gps-485854940166620044 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940166620044 .gp-duration-200{transition-duration:.2s}.gps-485854940166620044 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-485854940166620044 .tablet\:\!gp-hidden{display:none!important}.gps-485854940166620044 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-485854940166620044 .mobile\:\!gp-hidden{display:none!important}.gps-485854940166620044 .mobile\:gp-hidden{display:none}}.gps-485854940166620044 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gTkQiBTra1"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:none;--d-mobile:grid;--d-tablet:none;--hasBoxShadow:[object Object];--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--rounded:[object Object];--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgc-mobile:#F7FCFC;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gTkQiBTra1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4P5J9YQ-c gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gwtX4_WNeM"
    style="--bs:solid;--bs-mobile:none;--bw:1px 0px 0px 0px;--bw-mobile:1px 0px 0px 0px;--bc:#EFEFEF;--bc-mobile:#EFEFEF;--border:[object Object];--border-mobile:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--rounded:[object Object];--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:10px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-aa772031-5dc8-4723-a898-ee31706fe3eb.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3000/971;--aspect-tablet:3000/971;--aspect-mobile:3000/971;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-aa772031-5dc8-4723-a898-ee31706fe3eb.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3000/971;--aspect-tablet:3000/971;--aspect-mobile:3000/971;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-485854940166620044 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940166620044)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
