

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-488226464139838333.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-488226464139838333.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-488226464139838333.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-488226464139838333.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-488226464139838333.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-488226464139838333.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-488226464139838333.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-488226464139838333.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-488226464139838333.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-488226464139838333.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-488226464139838333.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-488226464139838333.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-488226464139838333.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-488226464139838333.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-488226464139838333.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-488226464139838333.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-488226464139838333.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-488226464139838333.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-488226464139838333.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-488226464139838333.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-488226464139838333.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-488226464139838333.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-488226464139838333.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-488226464139838333.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-488226464139838333.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-488226464139838333.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-488226464139838333.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-488226464139838333.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-488226464139838333.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-488226464139838333.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-488226464139838333.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-488226464139838333.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-488226464139838333.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-488226464139838333.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-488226464139838333.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-488226464139838333.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-488226464139838333.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-488226464139838333.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-488226464139838333.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-488226464139838333.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-488226464139838333.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-488226464139838333.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-488226464139838333.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-488226464139838333.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-488226464139838333.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-488226464139838333.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-488226464139838333.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-488226464139838333 .gp-relative{position:relative}.gps-488226464139838333 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-488226464139838333 .gp-mb-0{margin-bottom:0}.gps-488226464139838333 .\!gp-inline{display:inline!important}.gps-488226464139838333 .gp-flex{display:flex}.gps-488226464139838333 .gp-grid{display:grid}.gps-488226464139838333 .\!gp-hidden{display:none!important}.gps-488226464139838333 .gp-hidden{display:none}.gps-488226464139838333 .gp-h-full{height:100%}.gps-488226464139838333 .gp-w-full{width:100%}.gps-488226464139838333 .gp-max-w-full{max-width:100%}.gps-488226464139838333 .gp-flex-col{flex-direction:column}.gps-488226464139838333 .gp-gap-y-0{row-gap:0}.gps-488226464139838333 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488226464139838333 .gp-duration-200{transition-duration:.2s}.gps-488226464139838333 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-488226464139838333 .tablet\:\!gp-hidden{display:none!important}.gps-488226464139838333 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-488226464139838333 .mobile\:\!gp-hidden{display:none!important}.gps-488226464139838333 .mobile\:gp-hidden{display:none}}.gps-488226464139838333 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gvLQamMa-a"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:none;--d-mobile:grid;--d-tablet:none;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvLQamMa-a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUYKtl4Mte gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gUyb9e_tvQ"
    style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-l);--mt-mobile:20px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-67bd4c73-83a1-48ee-b0e1-079ce622a8a8.png" | asset_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3250/382;--aspect-tablet:3250/382;--aspect-mobile:3250/382;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-67bd4c73-83a1-48ee-b0e1-079ce622a8a8.png" | asset_url }}"
        width="100%"
        alt=""
        style="--aspect:3250/382;--aspect-tablet:3250/382;--aspect-mobile:3250/382;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-488226464139838333 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=487646738010604413&sectionId=488226464139838333)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
