

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541124875226580099.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541124875226580099.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541124875226580099.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541124875226580099.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541124875226580099.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541124875226580099.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541124875226580099.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541124875226580099.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541124875226580099.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541124875226580099.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541124875226580099.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-541124875226580099.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-541124875226580099.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541124875226580099.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541124875226580099.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541124875226580099.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541124875226580099.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541124875226580099.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541124875226580099.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541124875226580099.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541124875226580099.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541124875226580099.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541124875226580099.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541124875226580099.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541124875226580099.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541124875226580099.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541124875226580099.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541124875226580099.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541124875226580099.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541124875226580099.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541124875226580099.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541124875226580099.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541124875226580099.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541124875226580099.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-541124875226580099.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-541124875226580099.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541124875226580099.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541124875226580099.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541124875226580099.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541124875226580099.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-541124875226580099.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-541124875226580099.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541124875226580099.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541124875226580099.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-541124875226580099.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541124875226580099.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541124875226580099.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541124875226580099.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541124875226580099.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-541124875226580099.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-541124875226580099 .gp-relative{position:relative}.gps-541124875226580099 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541124875226580099 .gp-mb-0{margin-bottom:0}.gps-541124875226580099 .gp-flex{display:flex}.gps-541124875226580099 .gp-grid{display:grid}.gps-541124875226580099 .gp-contents{display:contents}.gps-541124875226580099 .\!gp-hidden{display:none!important}.gps-541124875226580099 .gp-hidden{display:none}.gps-541124875226580099 .gp-h-auto{height:auto}.gps-541124875226580099 .gp-h-full{height:100%}.gps-541124875226580099 .gp-w-full{width:100%}.gps-541124875226580099 .gp-max-w-full{max-width:100%}.gps-541124875226580099 .gp-flex-none{flex:none}.gps-541124875226580099 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-541124875226580099 .gp-flex-col{flex-direction:column}.gps-541124875226580099 .gp-gap-y-0{row-gap:0}.gps-541124875226580099 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541124875226580099 .gp-duration-200{transition-duration:.2s}.gps-541124875226580099 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-541124875226580099 .tablet\:\!gp-hidden{display:none!important}.gps-541124875226580099 .tablet\:gp-hidden{display:none}.gps-541124875226580099 .tablet\:gp-h-auto{height:auto}.gps-541124875226580099 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-541124875226580099 .mobile\:\!gp-hidden{display:none!important}.gps-541124875226580099 .mobile\:gp-hidden{display:none}.gps-541124875226580099 .mobile\:gp-h-auto{height:auto}.gps-541124875226580099 .mobile\:gp-flex-none{flex:none}}.gps-541124875226580099 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gIeiKRvaYA" data-id="gIeiKRvaYA"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIeiKRvaYA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gX8HaEMkbU gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":"1.7"},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Image","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents"><div
    
     data-id="gUmoTNjhCb"
    role="presentation"
    class="gp-group/image gUmoTNjhCb gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:50px;--pb:10px;--mb-mobile:0px;--pt-mobile:30px;--pb-mobile:10px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-bc613fb5-27b1-411e-9cda-a481aa49fd41.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyODYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTIwMDAtMjg2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyMDAwIiBoZWlnaHQ9IjI4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyODYiIGZpbGw9InVybCgjZy0yMDAwLTI4NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTIwMDAiIHRvPSIyMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-1a164652-c6ba-4ec3-ae43-d58396e8fce1.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTUwMDAtMTYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI1MDAwIiBoZWlnaHQ9IjE2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNjAiIGZpbGw9InVybCgjZy01MDAwLTE2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTUwMDAiIHRvPSI1MDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTUwMDAtMTYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI1MDAwIiBoZWlnaHQ9IjE2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNjAiIGZpbGw9InVybCgjZy01MDAwLTE2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTUwMDAiIHRvPSI1MDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_484137708004836523-1a164652-c6ba-4ec3-ae43-d58396e8fce1.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div></div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-541124875226580099 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=541124875075454083&sectionId=541124875226580099)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
