

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-554278293219771252.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-554278293219771252.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-554278293219771252.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-554278293219771252.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-554278293219771252.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-554278293219771252.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-554278293219771252.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-554278293219771252.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-554278293219771252.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-554278293219771252.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-554278293219771252.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-554278293219771252.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-554278293219771252.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-554278293219771252.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-554278293219771252.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-554278293219771252.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-554278293219771252.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-554278293219771252.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-554278293219771252.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-554278293219771252.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-554278293219771252.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-554278293219771252.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-554278293219771252.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-554278293219771252.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-554278293219771252.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-554278293219771252.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-554278293219771252.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-554278293219771252.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-554278293219771252.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-554278293219771252.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-554278293219771252.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-554278293219771252.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-554278293219771252.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-554278293219771252.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-554278293219771252.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-554278293219771252.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-554278293219771252.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-554278293219771252.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-554278293219771252.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-554278293219771252.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-554278293219771252.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-554278293219771252.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-554278293219771252.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-554278293219771252.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-554278293219771252 .gp-relative{position:relative}.gps-554278293219771252 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-554278293219771252 .gp-mb-0{margin-bottom:0}.gps-554278293219771252 .gp-flex{display:flex}.gps-554278293219771252 .gp-grid{display:grid}.gps-554278293219771252 .gp-contents{display:contents}.gps-554278293219771252 .\!gp-hidden{display:none!important}.gps-554278293219771252 .gp-hidden{display:none}.gps-554278293219771252 .gp-h-auto{height:auto}.gps-554278293219771252 .gp-h-full{height:100%}.gps-554278293219771252 .gp-w-full{width:100%}.gps-554278293219771252 .gp-max-w-full{max-width:100%}.gps-554278293219771252 .gp-flex-none{flex:none}.gps-554278293219771252 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-554278293219771252 .gp-flex-col{flex-direction:column}.gps-554278293219771252 .gp-gap-y-0{row-gap:0}.gps-554278293219771252 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554278293219771252 .gp-duration-200{transition-duration:.2s}.gps-554278293219771252 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-554278293219771252 .tablet\:\!gp-hidden{display:none!important}.gps-554278293219771252 .tablet\:gp-hidden{display:none}.gps-554278293219771252 .tablet\:gp-h-auto{height:auto}.gps-554278293219771252 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-554278293219771252 .mobile\:\!gp-hidden{display:none!important}.gps-554278293219771252 .mobile\:gp-hidden{display:none}.gps-554278293219771252 .mobile\:gp-h-auto{height:auto}.gps-554278293219771252 .mobile\:gp-flex-none{flex:none}}.gps-554278293219771252 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSrBBlI26q" data-id="gSrBBlI26q"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:50px;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:50px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSrBBlI26q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grXmClJaVB gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gq0DvIb-Fs"
    role="presentation"
    class="gp-group/image gq0DvIb-Fs gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-bea0225f-c947-460f-b9cd-c15e7dfef6f0.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUwMCIgaGVpZ2h0PSIzMTUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NTAwLTMxNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ1MDAiIGhlaWdodD0iMzE1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDUwMCIgaGVpZ2h0PSIzMTUwIiBmaWxsPSJ1cmwoI2ctNDUwMC0zMTUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDUwMCIgdG89IjQ1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-2fa8113c-f05a-4422-b3be-47880ac8df24.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMwMCIgaGVpZ2h0PSI2MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTMzMDAtNjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzMzAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzMwMCIgaGVpZ2h0PSI2MDAiIGZpbGw9InVybCgjZy0zMzAwLTYwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTMzMDAiIHRvPSIzMzAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMwMCIgaGVpZ2h0PSI2MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTMzMDAtNjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIzMzAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzMwMCIgaGVpZ2h0PSI2MDAiIGZpbGw9InVybCgjZy0zMzAwLTYwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTMzMDAiIHRvPSIzMzAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_484137708004836523-2fa8113c-f05a-4422-b3be-47880ac8df24.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-554278293219771252 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554278293134639988&sectionId=554278293219771252)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
