
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-511852129711883202 .gp-invisible{visibility:hidden}.gps-511852129711883202 .gp-absolute{position:absolute}.gps-511852129711883202 .gp-relative{position:relative}.gps-511852129711883202 .gp-z-1{z-index:1}.gps-511852129711883202 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511852129711883202 .gp-mb-0{margin-bottom:0}.gps-511852129711883202 .gp-flex{display:flex}.gps-511852129711883202 .gp-inline-flex{display:inline-flex}.gps-511852129711883202 .gp-grid{display:grid}.gps-511852129711883202 .\!gp-hidden{display:none!important}.gps-511852129711883202 .gp-hidden{display:none}.gps-511852129711883202 .gp-h-5{height:20px}.gps-511852129711883202 .gp-h-full{height:100%}.gps-511852129711883202 .gp-w-5{width:20px}.gps-511852129711883202 .gp-max-w-full{max-width:100%}.gps-511852129711883202 .gp-flex-col{flex-direction:column}.gps-511852129711883202 .gp-items-center{align-items:center}.gps-511852129711883202 .gp-justify-center{justify-content:center}.gps-511852129711883202 .gp-gap-y-0{row-gap:0}.gps-511852129711883202 .gp-overflow-hidden{overflow:hidden}.gps-511852129711883202 .gp-break-words{overflow-wrap:break-word}.gps-511852129711883202 .gp-rounded-none{border-radius:0}.gps-511852129711883202 .gp-no-underline{text-decoration-line:none}.gps-511852129711883202 .gp-opacity-25{opacity:.25}.gps-511852129711883202 .gp-opacity-75{opacity:.75}.gps-511852129711883202 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511852129711883202 .gp-duration-200{transition-duration:.2s}.gps-511852129711883202 .gp-duration-300{transition-duration:.3s}.gps-511852129711883202 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511852129711883202 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-511852129711883202 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-511852129711883202 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-511852129711883202 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-511852129711883202 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-511852129711883202 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-511852129711883202 .tablet\:\!gp-hidden{display:none!important}.gps-511852129711883202 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511852129711883202 .mobile\:\!gp-hidden{display:none!important}.gps-511852129711883202 .mobile\:gp-hidden{display:none}}.gps-511852129711883202 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511852129711883202 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gaj9wPGYDI"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:60px;--pb:70px;--pt-mobile:30px;--pb-mobile:50px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaj9wPGYDI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFbwrHqj1N gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--mt-mobile:0px;--mb-mobile:0px;--ta:center"
    class=""
  >
    <style>
    .gYUd2gu2TM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FCB25A;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .gYUd2gu2TM:hover::before {
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
    }
  </style>
    <a
      href="#gWXxoV_Aya" target="_self" data-id="gYUd2gu2TM" aria-label="Start for $3"
      
      data-state="idle"
      class="gYUd2gu2TM gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFF6EB;--bg:#FFF6EC;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--hvr-c:#FBB662;--c:#FCB25A;--w:1100px;--w-tablet:1100px;--w-mobile:100%;--h:65px;--h-tablet:65px;--h-mobile:55px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:25px;--size-tablet:16px;--size-mobile:20px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gYUd2gu2TM_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 9",
      "tag": "section",
      "class": "gps-511852129711883202 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=511852129174946754&sectionId=511852129711883202)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gYUd2gu2TM_label","label":"gYUd2gu2TM_label","default":"Start for $3"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
