
  
  
  <style>
    .gps-485854940166620044 .pointer-events-auto{pointer-events:auto}.gps-485854940166620044 .relative{position:relative}.gps-485854940166620044 .mx-auto{margin-left:auto;margin-right:auto}.gps-485854940166620044 .mb-0{margin-bottom:0}.gps-485854940166620044 .\!inline{display:inline!important}.gps-485854940166620044 .flex{display:flex}.gps-485854940166620044 .grid{display:grid}.gps-485854940166620044 .h-full{height:100%}.gps-485854940166620044 .w-full{width:100%}.gps-485854940166620044 .max-w-full{max-width:100%}.gps-485854940166620044 .flex-col{flex-direction:column}.gps-485854940166620044 .gap-y-0{row-gap:0}.gps-485854940166620044 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940166620044 .duration-200{transition-duration:.2s}.gps-485854940166620044 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940166620044 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gTkQiBTra1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTkQiBTra1 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4P5J9YQ-c relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gwtX4_WNeM"
    style="--b:solid;--bc:#121212;--bw:1px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-54db586a-c471-457d-a73e-79c8c319fcf1.png" | asset_url }}" data-srcset="{{ '484137708004836523-54db586a-c471-457d-a73e-79c8c319fcf1.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-54db586a-c471-457d-a73e-79c8c319fcf1.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-54db586a-c471-457d-a73e-79c8c319fcf1.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2750" height="890" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:2750/890;--aspect-tablet:2750/890;--aspect-mobile:2750/890;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-485854940166620044 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940166620044)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
