
  
  
  <style>
    .gps-489370164337312907 .relative{position:relative}.gps-489370164337312907 .mx-auto{margin-left:auto;margin-right:auto}.gps-489370164337312907 .mb-0{margin-bottom:0}.gps-489370164337312907 .flex{display:flex}.gps-489370164337312907 .grid{display:grid}.gps-489370164337312907 .max-w-full{max-width:100%}.gps-489370164337312907 .flex-col{flex-direction:column}.gps-489370164337312907 .gap-y-0{row-gap:0}.gps-489370164337312907 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489370164337312907 .duration-200{transition-duration:.2s}.gps-489370164337312907 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-489370164337312907 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gNz2KdxZqN"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNz2KdxZqN mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="g0KXVgm94e relative flex flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-489370164337312907 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=489370164337312907&template_id=485854940049179532)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
