
  
  
  <style>
    .gps-504959918013416554 .relative{position:relative}.gps-504959918013416554 .mx-auto{margin-left:auto;margin-right:auto}.gps-504959918013416554 .mb-0{margin-bottom:0}.gps-504959918013416554 .flex{display:flex}.gps-504959918013416554 .grid{display:grid}.gps-504959918013416554 .h-full{height:100%}.gps-504959918013416554 .w-full{width:100%}.gps-504959918013416554 .max-w-full{max-width:100%}.gps-504959918013416554 .flex-col{flex-direction:column}.gps-504959918013416554 .gap-y-0{row-gap:0}.gps-504959918013416554 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504959918013416554 .duration-200{transition-duration:.2s}.gps-504959918013416554 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504959918013416554 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g69_R0YZSw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:50px;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g69_R0YZSw mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR8JLPgB2a relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:100px;--mb:70px;--pt:0px;--mt-mobile:40px;--mb-mobile:20px" class="gD4R8-MUUT ">
      
    <div
      class=""
      style="--ta:center"
      class="h-full w-full"
    >
      <div class="klaviyo-form-XdT8XU"></div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-504959918013416554 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=504959917879198826&sectionId=504959918013416554)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
