
  
  <style> .gps-511834850722841767 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-511834850722841767 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-511834850722841767 .gp-invisible{visibility:hidden}.gps-511834850722841767 .gp-absolute{position:absolute}.gps-511834850722841767 .gp-relative{position:relative}.gps-511834850722841767 .gp-inset-0{inset:0}.gps-511834850722841767 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-511834850722841767 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-511834850722841767 .gp-z-1{z-index:1}.gps-511834850722841767 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511834850722841767 .gp-mb-0{margin-bottom:0}.gps-511834850722841767 .gp-flex{display:flex}.gps-511834850722841767 .gp-inline-flex{display:inline-flex}.gps-511834850722841767 .gp-grid{display:grid}.gps-511834850722841767 .\!gp-hidden{display:none!important}.gps-511834850722841767 .gp-hidden{display:none}.gps-511834850722841767 .gp-h-5{height:20px}.gps-511834850722841767 .gp-h-full{height:100%}.gps-511834850722841767 .gp-w-5{width:20px}.gps-511834850722841767 .gp-w-full{width:100%}.gps-511834850722841767 .gp-max-w-full{max-width:100%}.gps-511834850722841767 .gp-flex-col{flex-direction:column}.gps-511834850722841767 .gp-items-center{align-items:center}.gps-511834850722841767 .\!gp-justify-center{justify-content:center!important}.gps-511834850722841767 .gp-justify-center{justify-content:center}.gps-511834850722841767 .gp-gap-y-0{row-gap:0}.gps-511834850722841767 .\!gp-self-center{align-self:center!important}.gps-511834850722841767 .gp-self-center{align-self:center}.gps-511834850722841767 .gp-overflow-hidden{overflow:hidden}.gps-511834850722841767 .gp-break-words{overflow-wrap:break-word}.gps-511834850722841767 .gp-rounded-none{border-radius:0}.gps-511834850722841767 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-511834850722841767 .gp-bg-clip-content{background-clip:content-box}.gps-511834850722841767 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-511834850722841767 .gp-no-underline{text-decoration-line:none}.gps-511834850722841767 .gp-opacity-25{opacity:.25}.gps-511834850722841767 .gp-opacity-75{opacity:.75}.gps-511834850722841767 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511834850722841767 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511834850722841767 .gp-duration-200{transition-duration:.2s}.gps-511834850722841767 .gp-duration-300{transition-duration:.3s}.gps-511834850722841767 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511834850722841767 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-511834850722841767 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-511834850722841767 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-511834850722841767 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-511834850722841767 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-511834850722841767 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-511834850722841767 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-511834850722841767 .tablet\:gp-relative{position:relative}.gps-511834850722841767 .tablet\:\!gp-hidden{display:none!important}.gps-511834850722841767 .tablet\:gp-hidden{display:none}.gps-511834850722841767 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-511834850722841767 .tablet\:\!gp-justify-center{justify-content:center!important}.gps-511834850722841767 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-511834850722841767 .mobile\:gp-relative{position:relative}.gps-511834850722841767 .mobile\:\!gp-hidden{display:none!important}.gps-511834850722841767 .mobile\:gp-hidden{display:none}.gps-511834850722841767 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-511834850722841767 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-511834850722841767 .mobile\:\!gp-self-center{align-self:center!important}}@media (max-width:1023px){.gps-511834850722841767 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-511834850722841767 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-511834850722841767 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511834850722841767 .\[\&_p\]\:gp-inline p{display:inline}.gps-511834850722841767 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-511834850722841767 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511834850722841767 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gD41IxN0eC"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD41IxN0eC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRk_oOQNIG gp-relative gp-flex gp-flex-col"
    >
      
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"","width":1920,"height":900,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"","width":1920,"height":900,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"","width":1920,"height":900,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"geLyjkc_9Y","enableParallax":false,"speedParallax":0.6}'
      
      class="geLyjkc_9Y gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class=""
          src=""
          alt=""
          fetchpriority="high"
          style="--aspect:1920/900;--aspect-tablet:1920/900;--aspect-mobile:1920/900;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src=""
        alt=""
        style="--aspect:1920/900;--aspect-tablet:1920/900;--aspect-mobile:1920/900;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gPIwa-wDyW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsFRtXuNRX "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >Click here to edit heading</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="goTt_fXAvQ "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >This is your text block. Click to edit and make it your own. Share your product's story<br/>                  or services offered. Get creative and make it yours!</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    class=""
  >
    <style>
    .g8xUP55PQi.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g8xUP55PQi:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="g8xUP55PQi" aria-label="Get started"
      
      data-state="idle"
      class="g8xUP55PQi gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Get started
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-511834850722841767 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=511834293702493122&sectionId=511834850722841767)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
