<div class='bg-tan-50 px-6 py-12 pb-10 lg:py-20 lg:pb-18 flex items-center justify-center lg:space-x-8'>
  <img
    src='{{ "img-home-founder.png" | asset_url }}'
    width='100'
    height='100'
    loading='lazy'
    class='hidden lg:block w-64 h-64 rounded-full'
    alt='Founder Thomas McGinn'
  >
  <div class='flex flex-col space-y-4 lg:space-y-8'>
    <svg
      viewbox='0 0 24 24'
      class='h-8 w-8 lg:h-16 lg:w-16 fill-cyan-700'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path d="m4.7 17.7c-1-1.1-1.6-2.3-1.6-4.3 0-3.5 2.5-6.6 6-8.2l.9 1.3c-3.3 1.8-4 4.1-4.2 5.6.5-.3 1.2-.4 1.9-.3 1.8.2 3.2 1.6 3.2 3.5 0 .9-.4 1.8-1 2.5-.7.7-1.5 1-2.5 1-1.1 0-2.1-.5-2.7-1.1zm10 0c-1-1.1-1.6-2.3-1.6-4.3 0-3.5 2.5-6.6 6-8.2l.9 1.3c-3.3 1.8-4 4.1-4.2 5.6.5-.3 1.2-.4 1.9-.3 1.8.2 3.2 1.6 3.2 3.5 0 .9-.4 1.8-1 2.5s-1.5 1-2.5 1c-1.1 0-2.1-.5-2.7-1.1z" />
    </svg>
    <h4 class='lg:pl-2 font-accent text-2xl lg:text-4xl lg:max-w-3xl text-cyan-800'>
      Running and coffee are two peas in a pod, so why not make coffee
      <span class='underline'>for</span> runners?
    </h4>
    <div class='lg:pl-2'>
      <p class='text-cyan-800 uppercase text-lg font-bold'>Thomas McGinn</p>
      <p class='text-cyan-800 uppercase'>Founder</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.home-founder-quote.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.home-founder-quote.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}
