<div class='py-12 lg:py-20 px-6 relative'>
  <div class='flex flex-col items-center justify-center'>
    <svg
      width='100'
      height='100'
      viewbox='0 0 100 100'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <g clippath="url(#clip0_231_797)">
        <path
          d="M34.793 21.4238C34.8742 21.6013 34.9901 21.7608 35.1338 21.8928C35.2775 22.0249 35.4462 22.1269 35.6299 22.1929C35.8136 22.2589 36.0086 22.2875 36.2035 22.277C36.3984 22.2666 36.5893 22.2173 36.7648 22.132C36.9404 22.0468 37.0972 21.9273 37.2259 21.7806C37.3547 21.6339 37.4528 21.4629 37.5146 21.2778C37.5764 21.0926 37.6005 20.897 37.5856 20.7024C37.5707 20.5078 37.517 20.3181 37.4278 20.1445L33.7364 12.543C33.5665 12.1936 33.2647 11.926 32.8975 11.7991C32.5303 11.6722 32.1278 11.6963 31.7784 11.8662C31.429 12.0361 31.1614 12.3379 31.0345 12.7051C30.9076 13.0723 30.9317 13.4748 31.1016 13.8242L34.793 21.4238ZM50.0001 19.3203C50.3886 19.3203 50.7612 19.166 51.0359 18.8913C51.3106 18.6166 51.4649 18.244 51.4649 17.8555V10.2539C51.4649 9.86541 51.3106 9.49282 51.0359 9.2181C50.7612 8.94339 50.3886 8.78906 50.0001 8.78906C49.6116 8.78906 49.239 8.94339 48.9643 9.2181C48.6895 9.49282 48.5352 9.86541 48.5352 10.2539V17.8555C48.5352 18.244 48.6895 18.6166 48.9643 18.8913C49.239 19.166 49.6116 19.3203 50.0001 19.3203ZM63.2501 22.1016C63.4228 22.1854 63.6103 22.2344 63.802 22.2457C63.9937 22.2571 64.1857 22.2305 64.3671 22.1676C64.5485 22.1046 64.7157 22.0065 64.8592 21.8789C65.0026 21.7513 65.1195 21.5967 65.2032 21.4238L68.8946 13.8242C68.9787 13.6512 69.0279 13.4633 69.0395 13.2713C69.051 13.0793 69.0246 12.8869 68.9617 12.7051C68.8989 12.5232 68.8008 12.3556 68.6732 12.2116C68.5456 12.0677 68.3908 11.9503 68.2178 11.8662C68.0448 11.7821 67.8569 11.7329 67.6649 11.7213C67.4729 11.7098 67.2805 11.7362 67.0987 11.7991C66.9168 11.8619 66.7492 11.96 66.6053 12.0876C66.4613 12.2152 66.3439 12.37 66.2598 12.543L62.5684 20.1445C62.4843 20.3177 62.4353 20.5058 62.424 20.698C62.4128 20.8902 62.4396 21.0827 62.5029 21.2646C62.5663 21.4464 62.6649 21.6139 62.7931 21.7575C62.9213 21.9012 63.0766 22.0181 63.2501 22.1016ZM79.1016 27.0859C79.3002 27.184 79.5188 27.2348 79.7403 27.2344C80.0155 27.2349 80.2853 27.1576 80.5186 27.0114C80.7518 26.8652 80.939 26.6561 81.0586 26.4082L83.1036 22.2012C83.1877 22.0282 83.2369 21.8403 83.2485 21.6483C83.26 21.4562 83.2336 21.2638 83.1707 21.082C83.1079 20.9002 83.0098 20.7325 82.8822 20.5886C82.7546 20.4447 82.5998 20.3273 82.4268 20.2432C82.2538 20.159 82.0659 20.1098 81.8739 20.0983C81.6819 20.0868 81.4895 20.1132 81.3076 20.176C81.1258 20.2389 80.9582 20.3369 80.8142 20.4645C80.6703 20.5922 80.5529 20.7469 80.4688 20.9199L78.4239 25.1289C78.3397 25.3019 78.2904 25.4897 78.2789 25.6818C78.2674 25.8738 78.2939 26.0662 78.3568 26.248C78.4198 26.4298 78.518 26.5974 78.6458 26.7411C78.7736 26.8849 78.9285 27.0021 79.1016 27.0859ZM84.0235 83.4102L83.9942 83.375L79.8672 78.6875C78.2397 76.8336 76.1822 75.4073 73.8752 74.5335C71.5682 73.6598 69.0821 73.3652 66.6348 73.6758L54.3165 75.2383C52.9942 75.4121 51.6055 74.4102 51.4786 73.0664C51.4311 72.5873 51.5286 72.1049 51.7585 71.6818C51.9883 71.2587 52.3399 70.9144 52.7676 70.6934L64.168 64.9492C66.8026 63.5962 68.8451 61.3185 69.904 58.5526C70.9629 55.7868 70.9637 52.7274 69.9063 49.9609L69.1407 47.959C68.6279 46.62 67.8374 45.4048 66.8212 44.3933C65.805 43.3818 64.5862 42.5969 63.2449 42.0902C61.9036 41.5836 60.4702 41.3667 59.0391 41.4538C57.6079 41.5409 56.2114 41.9301 54.9415 42.5957C54.4251 42.868 53.8263 42.9401 53.26 42.7981C52.6938 42.6561 52.1999 42.31 51.8731 41.8262C51.6904 41.559 51.565 41.2569 51.5049 40.9389C51.4447 40.6209 51.451 40.2939 51.5235 39.9785C51.7833 38.8281 52.961 38.2676 53.9141 37.709C57.0804 35.8513 60.8299 35.2537 64.4168 36.035C68.0036 36.8164 71.1649 38.9194 73.2715 41.9258C73.4945 42.2441 73.8349 42.4608 74.2176 42.5282C74.6004 42.5956 74.9942 42.5082 75.3126 42.2852C75.6309 42.0622 75.8476 41.7218 75.915 41.3391C75.9823 40.9563 75.8949 40.5625 75.6719 40.2441C74.0453 37.9296 71.8855 36.0404 69.3751 34.7363C67.0918 33.546 64.5732 32.8762 62.0003 32.7749C59.4274 32.6735 56.864 33.1433 54.4942 34.1504C54.3875 33.6622 54.438 33.1528 54.6383 32.695C54.8386 32.2372 55.1785 31.8545 55.6094 31.6016C60.3458 28.8438 66.1563 27.9746 71.004 30.4824C73.0942 31.568 74.8923 33.141 76.2462 35.0684L84.3907 46.6953C84.501 46.8529 84.6412 46.9873 84.8034 47.0907C84.9656 47.1941 85.1466 47.2645 85.3361 47.298C85.5255 47.3315 85.7197 47.3273 85.9075 47.2857C86.0953 47.2441 86.2731 47.166 86.4307 47.0557C86.5883 46.9454 86.7227 46.8051 86.8261 46.6429C86.9295 46.4807 86.9999 46.2997 87.0334 46.1103C87.0669 45.9208 87.0627 45.7267 87.0211 45.5388C86.9795 45.351 86.9014 45.1732 86.7911 45.0156L78.6446 33.3887C77.02 31.073 74.8606 29.1836 72.3497 27.8809C66.4317 24.8145 59.8223 25.7324 54.129 29.0742C53.0494 29.7066 52.2287 30.7009 51.8125 31.8808C51.3963 33.0606 51.4116 34.3498 51.8555 35.5195C51.1749 35.869 50.5496 36.3172 50.0001 36.8496C49.4539 36.3132 48.828 35.8645 48.1446 35.5195C48.5885 34.3498 48.6038 33.0606 48.1876 31.8808C47.7714 30.7009 46.9507 29.7066 45.8712 29.0742L44.5919 28.3203C40.7905 26.088 36.2878 25.3696 31.9805 26.3082C27.6733 27.2467 23.8777 29.7733 21.3497 33.3848L0.265683 63.4863C0.0579123 63.8047 -0.0179288 64.1914 0.0541872 64.5647C0.126303 64.938 0.340726 65.2686 0.652142 65.4867C0.963557 65.7048 1.34757 65.7933 1.72302 65.7334C2.09847 65.6736 2.43594 65.4701 2.66412 65.166L23.7579 35.0645C25.8654 32.0592 29.0266 29.957 32.6131 29.1757C36.1996 28.3945 39.9487 28.9913 43.1153 30.8477C44.2227 31.4961 45.8653 32.5605 45.5098 34.1465C43.14 33.1394 40.5766 32.6696 38.0037 32.771C35.4308 32.8723 32.9122 33.5421 30.629 34.7324C28.1185 36.0365 25.9587 37.9256 24.3321 40.2402C24.2217 40.3978 24.1434 40.5757 24.1017 40.7635C24.06 40.9514 24.0557 41.1456 24.0891 41.3352C24.1224 41.5247 24.1928 41.7058 24.2962 41.8681C24.3995 42.0305 24.5339 42.1708 24.6915 42.2812C24.8491 42.3917 25.0269 42.47 25.2148 42.5117C25.4026 42.5534 25.5969 42.5576 25.7864 42.5243C25.9759 42.4909 26.157 42.4205 26.3194 42.3172C26.4817 42.2138 26.6221 42.0795 26.7325 41.9219C28.8398 38.9152 32.0021 36.8122 35.5898 36.0315C39.1775 35.2509 42.9277 35.8497 46.0938 37.709L47.3711 38.457C47.9053 38.7702 48.2956 39.2801 48.4585 39.8775C48.6213 40.4749 48.5438 41.1124 48.2426 41.6533C47.9413 42.1943 47.4403 42.5959 46.8466 42.772C46.253 42.9481 45.614 42.8848 45.0665 42.5957C43.7962 41.9288 42.399 41.5385 40.967 41.4507C39.5349 41.3629 38.1005 41.5794 36.7582 42.0862C35.416 42.5929 34.1963 43.3782 33.1796 44.3905C32.1628 45.4028 31.3721 46.619 30.8594 47.959L30.0958 49.959C29.038 52.7276 29.0399 55.7892 30.1011 58.5565C31.1623 61.3238 33.2081 63.6017 35.8458 64.9531L47.2227 70.6875C47.6533 70.907 48.0078 71.2513 48.2398 71.6753C48.4719 72.0993 48.5707 72.5834 48.5235 73.0645C48.3985 74.4023 47.0001 75.4082 45.6856 75.2363L38.6719 74.3457C38.4812 74.3215 38.2876 74.335 38.1022 74.3856C37.9167 74.4362 37.743 74.5228 37.591 74.6405C37.4391 74.7582 37.3118 74.9047 37.2164 75.0716C37.121 75.2385 37.0594 75.4226 37.0352 75.6133C37.011 75.804 37.0245 75.9976 37.0751 76.183C37.1257 76.3685 37.2123 76.5422 37.33 76.6942C37.4477 76.8462 37.5942 76.9735 37.7611 77.0688C37.928 77.1642 38.1121 77.2258 38.3028 77.25L45.3126 78.1426C46.1704 78.2437 47.0399 78.1448 47.8532 77.8538C48.6664 77.5627 49.4012 77.0873 50.0001 76.4648C50.5985 77.0878 51.3333 77.5635 52.1466 77.8546C52.96 78.1457 53.8297 78.2443 54.6876 78.1426L67.0059 76.5801C68.9779 76.3308 70.9809 76.5687 72.8396 77.2728C74.6983 77.9769 76.3562 79.1259 77.668 80.6191L81.7813 85.3066L93.4708 99.4805C93.5914 99.634 93.7415 99.7618 93.9123 99.8565C94.0831 99.9511 94.2711 100.011 94.4652 100.032C94.6593 100.053 94.8557 100.035 95.0427 99.9786C95.2298 99.9226 95.4037 99.8297 95.5544 99.7055C95.705 99.5813 95.8293 99.4282 95.9199 99.2553C96.0106 99.0823 96.0657 98.893 96.0821 98.6984C96.0985 98.5039 96.0759 98.308 96.0155 98.1223C95.9551 97.9366 95.8582 97.7649 95.7305 97.6172L84.0235 83.4102ZM50.0001 69.1602C49.5824 68.7204 49.0938 68.354 48.5547 68.0762L37.1778 62.3418C35.1843 61.3184 33.6386 59.5952 32.8371 57.5027C32.0355 55.4101 32.0344 53.0953 32.834 51.002L33.5938 49.0039C33.9589 48.0516 34.5214 47.1873 35.2444 46.4679C35.9674 45.7485 36.8345 45.1903 37.7887 44.83C38.7428 44.4697 39.7625 44.3155 40.7805 44.3774C41.7985 44.4394 42.7919 44.7161 43.6954 45.1895C44.7156 45.7259 45.8828 45.915 47.0202 45.7282C48.1576 45.5414 49.2031 44.9889 49.9981 44.1543C50.7931 44.9889 51.8386 45.5414 52.976 45.7282C54.1134 45.915 55.2807 45.7259 56.3008 45.1895C57.2044 44.7154 58.1982 44.4382 59.2167 44.3758C60.2352 44.3135 61.2553 44.4676 62.2099 44.828C63.1646 45.1883 64.0321 45.7467 64.7554 46.4665C65.4786 47.1863 66.0413 48.051 66.4063 49.0039L67.17 51.002C67.9676 53.0924 67.9668 55.4035 67.1676 57.4934C66.3684 59.5833 64.8269 61.3053 62.8379 62.3301L51.4376 68.0762C50.9009 68.3541 50.4149 68.7206 50.0001 69.1602ZM99.7364 63.4863L89.9571 49.5254C89.7341 49.2071 89.3938 48.9904 89.011 48.923C88.6282 48.8556 88.2344 48.943 87.9161 49.166C87.5978 49.389 87.3811 49.7293 87.3137 50.1121C87.2463 50.4949 87.3337 50.8887 87.5567 51.207L97.3379 65.166C97.4453 65.3305 97.5846 65.4717 97.7476 65.5813C97.9106 65.6908 98.094 65.7665 98.2868 65.8037C98.4797 65.841 98.678 65.8391 98.8701 65.7981C99.0622 65.7572 99.2441 65.678 99.405 65.5654C99.5659 65.4527 99.7025 65.3088 99.8066 65.1423C99.9108 64.9758 99.9804 64.79 100.011 64.5961C100.042 64.4021 100.034 64.2039 99.9866 64.0133C99.9393 63.8226 99.8543 63.6434 99.7364 63.4863ZM33.3653 73.668C30.9183 73.3578 28.4326 73.6525 26.1259 74.5262C23.8193 75.4 21.7622 76.8261 20.1348 78.6797L16.0157 83.375L15.9864 83.4102L4.2735 97.6035C4.14578 97.7512 4.04889 97.923 3.98851 98.1086C3.92812 98.2943 3.90547 98.4902 3.92189 98.6848C3.9383 98.8793 3.99344 99.0686 4.08407 99.2416C4.17471 99.4145 4.299 99.5676 4.44965 99.6918C4.6003 99.816 4.77426 99.9089 4.9613 99.9649C5.14835 100.021 5.34471 100.039 5.53883 100.018C5.73296 99.997 5.92094 99.9375 6.09171 99.8428C6.26248 99.7482 6.41261 99.6203 6.53326 99.4668L18.2227 85.293L22.336 80.6055C23.6496 79.1122 25.3094 77.9638 27.17 77.261C29.0305 76.5582 31.035 76.3224 33.0079 76.5742C33.2002 76.6015 33.396 76.5902 33.5839 76.5411C33.7718 76.492 33.9481 76.4059 34.1024 76.2881C34.2568 76.1702 34.3862 76.0228 34.483 75.8544C34.5799 75.6861 34.6423 75.5002 34.6667 75.3075C34.691 75.1148 34.6768 74.9192 34.6249 74.732C34.5729 74.5449 34.4842 74.3699 34.364 74.2174C34.2439 74.0648 34.0945 73.9377 33.9247 73.8433C33.7549 73.749 33.5681 73.6894 33.3751 73.668H33.3653ZM18.9454 26.4082C19.065 26.6561 19.2522 26.8652 19.4854 27.0114C19.7187 27.1576 19.9885 27.2349 20.2637 27.2344C20.4852 27.2348 20.7038 27.184 20.9024 27.0859C21.2511 26.9166 21.5183 26.6158 21.6454 26.2496C21.7724 25.8834 21.749 25.4817 21.5801 25.1328L19.5313 20.9199C19.4472 20.7469 19.3298 20.5922 19.1859 20.4645C19.0419 20.3369 18.8743 20.2389 18.6925 20.176C18.5106 20.1132 18.3182 20.0868 18.1262 20.0983C17.9342 20.1098 17.7463 20.159 17.5733 20.2432C17.4003 20.3273 17.2456 20.4447 17.1179 20.5886C16.9903 20.7325 16.8922 20.9002 16.8294 21.082C16.7025 21.4492 16.7266 21.8518 16.8965 22.2012L18.9454 26.4082Z"
          fill="#FFF6EB"
        />
      </g>
      <defs>
        <clippath id="clip0_231_797">
          <rect width="100" height="100" fill="white" />
        </clippath>
      </defs>
    </svg>

    <h3 class='font-accent text-tan-100 text-3xl lg:text-5xl text-center mt-4 lg:mt-6'>
      The Mission: Fuel Your Passion
    </h3>
    <div class='grid grid-cols-1 lg:grid-cols-3 gap-2 lg:gap-12 mt-4 lg:mt-8'>
      <div class='flex flex-col space-y-2 lg:space-y-4'>
        <h4 class='text-tan-50 font-accent lg:text-3xl text-center mt-6 lg:mt-10'>Passion</h4>
        <p class='text-tan-50 lg:text-lg lg:font-medium text-center lg:max-w-2xl'>
          Live an inspired lifestyle through meaningful routine
        </p>
      </div>
      <div class='flex flex-col space-y-2 lg:space-y-4'>
        <h4 class='text-tan-50 font-accent lg:text-3xl text-center mt-6 lg:mt-10'>Performance</h4>
        <p class='text-tan-50 lg:text-lg lg:font-medium text-center lg:max-w-2xl'>
          Increase athletic potential with our patent protected formula
        </p>
      </div>
      <div class='flex flex-col space-y-2 lg:space-y-4'>
        <h4 class='text-tan-50 font-accent lg:text-3xl text-center mt-6 lg:mt-10'>Taste</h4>
        <p class='text-tan-50 lg:text-lg lg:font-medium text-center lg:max-w-2xl'>
          Appreciate smooth flavor with effective ingredients
        </p>
      </div>
    </div>
    <a
      class='text-cyan-700 px-6 py-2 font-accent bg-tan-50 mt-8 lg:mt-14'
      href='/pages/mission'
    >
      Learn More
    </a>
  </div>
  <div class='absolute bg-slate-100 inset-0 brightness-50 -z-10'>
    <video
      muted
      autoPlay
      controls='false'
      loop
      playsInline
      loading='lazy'
      src='{{ "img-home-mission.mp4" | asset_url }}'
      class='h-full w-full object-cover'
    />
  </div>
</div>

{% schema %}
{
  "name": "t:sections.home-mission-cta.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.home-mission-cta.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}
