<div>
  <div class="bg-cyan-50 grid grid-cols-1 lg:grid-cols-2 mt-8">
    <div class="relative border-b border-cyan-200 lg:border-none h-96 lg:h-auto scroll-trigger animate--slide-in">
      <img
        src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/LRC4.jpg?v=1711743212"
        width="100"
        height="100"
        loading="lazy"
        class="object-cover w-full h-full bg-center"
        alt="trees"
      >
    </div>
    <div class="relative flex flex-col justify-center space-y-6 lg:space-y-8 px-6 lg:px-24 py-12 mx-auto lg:max-w-4xl scroll-trigger animate--slide-in">
      <h3 class="font-accent text-4xl lg:text-5xl text-cyan-900">Join the club.</h3>
      <p class="text-neutral-900 lg:text-lg">
        Never stop Fueling Your Passion & Performance. Get fresh supply delivered to your door, and enjoy Long Run
        Coffee membership status.
      </p>
      <div class="grid grid-cols-4 gap-4 lg:gap-4">
        <div>
          <img
            src="{{ "img-home-box.png" | asset_url }}"
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="shipping box"
          >
          <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">
            Free shipping
          </p>
        </div>
        <div>
          <img
            src="{{ "img-home-discount.png" | asset_url }}"
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="discount"
          >
          <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">
            Up to 25% savings
          </p>
        </div>
        <div>
          <img
            src="{{ "img-home-bonus.png" | asset_url }}"
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="surprise package"
          >
          <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">Bonus gear</p>
        </div>
        <div>
          <img
            src="{{ "img-home-customization.png" | asset_url }}"
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="coffee bag"
          >
          <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">
            Fully customizable
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row items-start lg:items-center space-y-2 lg:space-y-0 lg:space-x-4">
        <a
          href="/collections/subscribe-save"
          class="bg-tan-200 px-4 lg:px-6 py-2 border border-tan-800 text-tan-800 lg:text-lg font-medium tracking-wider uppercase"
        >
          Build my subscription
        </a>
        <a
          href="/pages/long-run-club"
          class="px-4 lg:px-6 py-2 border border-cyan-800 text-cyan-800 lg:text-lg font-medium tracking-wider uppercase"
        >
          Learn more
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "LRC Coffee Club CTA",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "LRC Coffee Club CTA",
      "blocks": []
    }
  ]
}
{% endschema %}
