<div id="lrc-product-description" class="z-0 relative"></div>

<script
  type="text/babel"
>
  const AccordionItem = ({ question, answer, isOpen, onClick }) => {
    const contentHeight = React.useRef();
    const innerHtml = {
      __html: answer,
    };
    return (
      <div className="flex-1 flex flex-col py-2">
        <button className={`flex items-center text-cyan-700`} onClick={onClick}>
          <p className="font-accent text-2xl text-cyan-700">{question}</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth={1.5}
            stroke="currentColor"
            className={`w-6 h-6 transition-all ml-auto ${isOpen ? 'transform rotate-180' : ''}`}
          >
            <path strokeLinecap="round" strokeLinejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        </button>

        <div
          ref={contentHeight}
          className="overflow-hidden transition-all"
          style={
            isOpen ? { height: contentHeight.current ? contentHeight.current.scrollHeight : '0px' } : { height: '0px' }
          }
        >
          <div
            className="text-base text-neutral-600 flex flex-col space-y-2 py-3"
            dangerouslySetInnerHTML={innerHtml}
          />
        </div>
      </div>
    );
  };

  function LRCProductDescription() {
    const [activeIndex, setActiveIndex] = React.useState(null);

    const handleItemClick = (index) => {
      setActiveIndex((prevIndex) => (prevIndex === index ? null : index));
    };

    return (
      <div className="bg-cyan-50 bg-opacity-20 p-4">
        <div className="max-w-5xl mx-auto flex flex-col">
          <AccordionItem
            question={'Description'}
            answer="{{ product.description | escape }}"
            isOpen={activeIndex === 'Description'}
            onClick={() => handleItemClick('Description')}
          />
          <div className="h-px my-2 bg-cyan-500 rounded" />
          <AccordionItem
            question={'Supplement Facts'}
            answer={`<p>
                Ingredients: Coffee (11g), Sodium Bicarbonate (75mg, 3% DV), Potassium Gluconate (175mg, 4% DV), Calcium
                Citrate (13mg, 3% DV), Magnesium Citrate (12mg, 1% DV).
              </p>`}
            isOpen={activeIndex === 'Supplement Facts'}
            onClick={() => handleItemClick('Supplement Facts')}
          />
          <div className="h-px my-2 bg-cyan-500 rounded" />
          <AccordionItem
            question={'How to Use'}
            answer={`<p>LRC can be prepared with any brewing method - so use your favorite!
              Consume 30-45 mins before your run.</p>`}
            isOpen={activeIndex === 'How to User'}
            onClick={() => handleItemClick('How to User')}
          />
        </div>
      </div>
    );
  }
  ReactDOM.render(<LRCProductDescription />, document.getElementById('lrc-product-description'));
</script>
