<div class="w-full bg-white flex justify-center">
  <div class="w-full max-w-3xl relative">
    <div class="absolute inset-0 flex items-center justify-center p-4 pb-48">
      <p class="px-4 text-center text-neutral-900 text-2xl font-accent leading-[2rem] lg:text-4xl lg:leading-[2.25rem]">
        {{ section.settings.title }}
      </p>
    </div>
    <img
      src="{{ section.settings.image | image_url: width: 500}}"
      width="500"
      height="500"
      class="w-full aspect-[4/3] object-contain"
    >
  </div>
</div>

{% schema %}
{
  "name": "LRC Hero Image",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Electrolyte infused coffee for athletes"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "LRC Hero Image"
    }
  ]
}
{% endschema %}
