<div id="lrc-header"></div>

<script
  type="text/javascript"
>
  const navigationbar = `<navigation-bar></navigation-bar>`;
  document.getElementById('lrc-header').innerHTML = navigationbar;
</script>
