<div id="lrc-base-product"></div>

<script
  type="text/javascript"
>
  const variantQuantityMap = {};
  {% for variant in product.variants %}
    variantQuantityMap[{{ variant.id }}] = {{ variant.inventory_quantity }};
  {% endfor %}

  const productjson = encodeURIComponent(JSON.stringify({{ product | json }}))
  const reviews = encodeURIComponent(JSON.stringify({{ product.metafields.reviews | json }}))
  const variantquantitymap = encodeURIComponent(JSON.stringify(variantQuantityMap))
  
  const baseproduct = `<product-form productjson="${productjson}" reviews="${reviews}" variantquantitymap="${variantquantitymap}"></product-form>`
  document.getElementById('lrc-base-product').innerHTML = baseproduct;
</script>
{% schema %}
{
  "name": "t:sections.lrc-base-product",
  "settings": [],
  "presets": []
}
{% endschema %}
