<div id="lrc-image-carousel"></div>

<script
  type="text/babel"
>
  function LRCImageCarousel() {
    const images = [];
    const [activeImage, setActiveImage] = React.useState(0);

    {% for block in section.blocks %}
        images.push({{ block.settings.image | json }})
    {%  endfor %}

    return (
      <div className="lg:px-16 py-4 lg:py-32 z-10 relative lg:transform lg:-translate-y-20 max-w-7xl mx-auto">
        <div className="hidden lg:block">
          <div className="mx-auto max-w-7xl px-6 lg:px-8">
            <div className="mx-auto flex space-x-8 items-start">
              {images.map((img, i) => (
                <article key={i} className="flex flex-col items-start justify-between">
                  <div className="relative w-full">
                    <img
                      src={`https:${img}`}
                      alt=""
                      className="aspect-square w-full rounded-2xl bg-cyan-100 object-cover"
                    />
                    <div className="absolute inset-0 rounded-2xl ring-1 ring-inset ring-cyan-900/10" />
                  </div>
                </article>
              ))}
            </div>
          </div>
        </div>
        <div className="flex flex-col lg:hidden">
          <h2 className="px-6 py-4 text-center text-neutral-700 text-xl font-accent leading-[1.6rem] lg:text-4xl lg:leading-[2.25rem]">{{ section.settings.carousel_title }}</h2>
          <div class="relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto scrollbar-hide">
            {images.map((b) => (
              <div key={b} class="snap-center shrink-0 first:pl-8 last:pr-8">
                <img
                  class="shrink-0 w-[calc(100vw-72px)] h-[calc(100vw-72px)] rounded-lg shadow-lg bg-white object-fill"
                  src={b}
                />
              </div>
            ))}
          </div>
        </div>
        <div className="flex w-full py-4 px-8 lg:py-8 justify-center">
          <button onClick={() => {
            document.getElementById({{section.settings.carousel_scroll_to_id | json}}).scrollIntoView({ behavior: 'smooth' });
          }} className="rounded text-base w-full lg:w-1/3 items-center justify-center text-center py-3 px-4 font-accent border border-tan-600 bg-tan-100 text-tan-600 hover:border-tan-700 hover:text-tan-700 hover:bg-tan-200 cursor-pointer">{{ section.settings.carousel_scroll_to_text }}</button>
        </div>
      </div>
    );
  }
  ReactDOM.render(<LRCImageCarousel />, document.getElementById('lrc-image-carousel'));
</script>

{% schema %}
{
  "name": "lrc-image-carousel",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "carousel_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "carousel_scroll_to_text",
      "label": "Scroll To Text",
      "default": "Start for $3"
    },
    {
      "type": "text",
      "id": "carousel_scroll_to_id",
      "label": "Scroll To ID",
      "default": "lrc-klaviyo-form"
    }
  ]
}
{% endschema %}
