<div>{{ settings.title }}</div>
{% schema %}
{
  "name": "lrc-hero-image",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Electrolyte infused coffee for athletes"
    }
  ]
}
{% endschema %}
