<div id="lrc-coffee-benefits-comparison"></div>

<script
  type="text/babel"
>
  function LRCCoffeeBenefitsComparison() {
    return <div className="relative my-8"></div>;
  }
  ReactDOM.render(<LRCCoffeeBenefitsComparison />, document.getElementById('lrc-coffee-benefits-comparison'));
</script>

{% schema %}
{
  "name": "LRC Coffee Benefits (ext)",
  "settings": [],
  "presets": [
    {
      "name": "LRC Coffee Benefits (ext)"
    }
  ]
}
{% endschema %}
