<div id="lrc-image-carousel"></div>

<script
  type="text/babel"
>
  function LRCImageCarousel() {
    const images = [];
    const [activeImage, setActiveImage] = React.useState(0);

    {% for block in section.blocks %}
        images.push(block.settings.image)
    {%  endfor %}

    console.log(images)

    return (
      <div className="lg:px-16 py-12 lg:py-32 z-10 relative lg:transform lg:-translate-y-20 max-w-7xl mx-auto">
        <div className="hidden lg:block">
          <div className="mx-auto max-w-7xl px-6 lg:px-8">
            <div className="mx-auto flex space-x-8 items-start">
              {% comment %} {benefits.map((benefit, i) => (
                <article key={i} className="flex flex-col items-start justify-between">
                  <div className="relative w-full">
                    <img
                      src={benefit.img}
                      alt=""
                      className="aspect-square w-full rounded-2xl bg-cyan-100 object-cover"
                    />
                    <div className="absolute inset-0 rounded-2xl ring-1 ring-inset ring-cyan-900/10" />
                  </div>
                  <div className="max-w-xl">
                    <div className="group relative">
                      <h3 className="mt-4 text-lg font-semibold leading-6 text-cyan-900 group-hover:text-cyan-600">
                        {benefit.title}
                      </h3>
                      <p className="mt-3 text-sm leading-6 text-neutral-600">{benefit.description}</p>
                    </div>
                  </div>
                </article>
              ))} {% endcomment %}
            </div>
          </div>
        </div>
        <div className="flex flex-col lg:hidden">
          <h2 className="font-accent text-cyan-700 text-3xl mb-8 pl-8">Benefits</h2>
          <div class="relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto pb-14 scrollbar-hide">
            {% comment %} {benefits.map((b) => (
              <div key={b.title} class="snap-center shrink-0 first:pl-8 last:pr-8">
                <img
                  class="shrink-0 w-[calc(100vw-72px)] h-[calc(100vw-72px)] rounded-lg shadow-lg bg-white object-fill"
                  src={b.img}
                />
                <h4 className="font-accent w-[calc(100vw-72px)] text-wrap text-cyan-700 text-xl mt-4">{b.title}</h4>
                <p className="font-base w-[calc(100vw-72px)] text-wrap text-neutral-600 text-base mt-1">
                  {b.description}
                </p>
              </div>
            ))} {% endcomment %}
          </div>
        </div>
      </div>
    );
  }

  ReactDOM.render(<LRCImageCarousel />, document.getElementById('lrc-image-carousel'));
</script>

{% schema %}
{
  "name": "lrc-image-carousel",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "carousel_title",
      "label": "Title"
    }
  ]
}
{% endschema %}
