<div
  class="flex flex-col space-y-4 py-6 px-4 max-w-md text-center mx-auto"
>
  <h3 class="font-accent text-cyan-500">{{ section.settings.title }}</h3>
  <p class="text-base text-neutral-800">{{ section.settings.body }}</p>
</div>

{% schema %}
{
  "name": "LRC Paragraph with Header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "body",
      "label": "Paragraph"
    }
  ],
  "presets": [
    {
      "name": "LRC Paragraph with Header"
    }
  ]
}
{% endschema %}
