<div id="lrc-klaviyo-form" class="{{ section.settings.form_id }} mt-6" style="scroll-margin-top: 75px;"></div>
{% schema %}
{
  "name": "lrc-klaviyo-form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "form_id",
      "label": "Form ID",
      "default": "klaviyo-form-U3VZ9D"
    }
  ]
}
{% endschema %}
