<div class="relative">
  <div class="relative pb-24 lg:pb-12">
    <div class="-z-10 absolute inset-0 bg-tan-900/10"></div>
    <img
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/img-mission-hero.jpg?v=1711301221"
      width="100"
      height="100"
      loading="lazy"
      class="object-cover absolute inset-0 w-full h-full transform scale-x-[-1] -z-20 brightness-75"
      alt="hero"
    >
    <div class="flex flex-col px-8 lg:px-24 h-full justify-center py-12 lg:py-64 lg:-mt-16">
      <h1 class="font-accent text-4xl lg:max-w-5xl mx-auto tracking-tight lg:text-[7rem] lg:leading-[7rem] text-center text-tan-50">
        Running is more than a sport
      </h1>
    </div>
  </div>
  <div class="-mt-24 bg-white rounded shadow mb-8 lg:mb-12 lg:mx-auto mx-4 p-8 lg:max-w-4xl flex flex-col space-y-8 lg:space-y-12">
    <h3 class="text-3xl lg:text-4xl font-accent text-cyan-700 text-center">Your Story</h3>
    <p class="text-neutral-700 lg:text-lg">
      <strong>You&apos;re an endurance athlete.</strong> You&apos;re passionate about running and it&apos;s a
      fundamental part of your identity. You want life to revolve around your passion, but have trouble making it a
      reality. Sometimes, life gets in the way. You find yourself disconnected from the sport you love, unable to fully
      embrace your identity as a runner.
    </p>
    <p class="text-neutral-700 lg:text-lg">
      The problem isn&apos;t just that you can&apos;t train as much as you&apos;d like. It&apos;s deeper than that.
      It&apos;s a philosophical issue of feeling like there&apos;s a hole. A hole that needs to be filled. Running is
      the fabric of who you are, yet you feel like <strong>something is missing</strong>. You want to incorporate
      running into your identity more, to feel like you&apos;re living your life as an athlete, not just someone who
      runs.
    </p>
    <p class="text-neutral-700 lg:text-lg">
      But the limited time we have in life can make it difficult to fully embrace our passions. We want to
      <strong>spend our time doing what we love</strong>, and embracing who we are. But time is finite, and there are
      only so many hours in a day.
    </p>
  </div>
  <div class="bg-white shadow mb-8 lg:mb-12 lg:mx-auto mx-4 p-8 lg:max-w-4xl flex flex-col space-y-8 lg:space-y-12">
    <h3 class="text-3xl lg:text-4xl font-accent text-cyan-700 text-center">Fuel Your Passion</h3>
    <p class="text-neutral-700 lg:text-lg">
      We understand the struggle. We&apos;re athletes ourselves, and we know that running isn&apos;t a hobby or sport -
      <strong>it&apos;s a way of life</strong>.
    </p>
    <p class="text-neutral-700 lg:text-lg">
      Long Run Coffee is designed to be more. It&apos;s a solution to a problem that many endurance athletes face -
      <strong>wanting more from your passion</strong>. With our electrolyte infused coffee, you can stay connected to
      the sport you love, even when you&apos;re not training. You can feel the sense of freedom that comes from pushing
      your limits, whether you&apos;re at your desk or warming up for a long run.
    </p>
    <p class="text-neutral-700 lg:text-lg">
      Join our community of endurance athletes and live your life as an athlete, not just someone who runs. Try our
      electrolyte infused coffee and taste the difference it can make in your training and everyday life. Because when
      you&apos;re connected to your passion,
      <strong>anything is possible</strong>.
    </p>
  </div>
  <div class="topography-pattern -z-30 inset-0 absolute -bottom-24"></div>
</div>
