@tailwind base;
@tailwind components;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

@tailwind utilities;

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation ease 500ms forwards;
}

.swimlane {
  @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
}

.hiddenScroll {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@media only screen and (max-width: 600px) {
  .cart-item > td.cart-item__details > a {
    font-size: 14px !important;
  }
  .cart-item > td.cart-item__details > dl > div {
    font-size: 14px !important;
  }
  .new-cart-remove-button > .icon-remove {
    width: 1rem !important;
    height: 1rem !important;
  }
}
body {
  font-family: "Montserrat", ui-sans-serif, system-ui, sans-serif !important;
}

.w-onethird {
  @apply w-1/3;
}

.w-twothird {
  @apply w-2/3;
}

.drawer__inner.subscriptions {
  @apply w-[100vw] max-w-none md:w-[40rem];
  height: 100%;
  max-height: -webkit-fill-available;
}

.nothidden {
  display: block !important;
}

.h-fill {
  /* equivalent to 100dvh in major browsers */
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  );
}

.max-h-fill {
  max-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  );
}

@supports (-webkit-touch-callout: none) {
  .h-fill {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available;
  }
  .max-h-fill {
    max-height: -webkit-fill-available;
  }
}

.needsclick.kl-private-reset-css-Xuajs1 {
  z-index: 20 !important;
}

button.needsclick.kl-private-reset-css-Xuajs1 {
  z-index: 30 !important;
}

sticky-header {
  z-index: 50;
}

/* reviews */
div.spr-container {
  @apply border-none;
}
span.spr-summary-actions-togglereviews {
  @apply text-neutral-700 text-base;
}
a.spr-summary-actions-newreview {
  @apply text-cyan-700 text-base;
}
span.spr-summary-actions-togglereviews {
  @apply text-neutral-700 text-base;
}
.spr-icon.spr-icon-star {
  @apply text-tan-600;
}
h2#spr-header-title {
  @apply text-cyan-700 font-accent text-xl !important;
}

#shopify-section-template--21630579638585__related-products > div {
  background-color: transparent;
  z-index: 10;
  position: relative;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
